@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #F5F1F1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D1D1D1;
    border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
    display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    font-family: Montserrats;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 3vw;
}