$background-color: #E4E4E4;
$button-color: #0C6397;
$button-hovered-color: #7BDCB5;
$button-secondary-color: #9F9E9E;
$searched-title: #9F183B;
$list-text-color: #959595;
$profile-text-color: #8D8D8D;