@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #F5F1F1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #E4E4E4 inset !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #E4E4E4;
  font-family: Montserrats;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 3vw;
}

img {
  max-height: 100%;
}

.top-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  position: relative;
  height: 100%;
}

.search-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 1vw;
}
.search-container img {
  position: absolute;
  left: 0.8vw;
  max-height: 30%;
}
.search-container form {
  display: contents;
}
.search-container form input {
  width: 100%;
  height: 60%;
  border-radius: 2vw;
  padding-left: 3vw;
  border: 0.25vw solid #E4E4E4;
  font-family: Montserrats;
}

.result-container {
  display: flex;
  height: 80%;
  margin-top: 3vh;
}

.list-wrapper {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #959595;
  padding-right: 2vw;
}
.list-wrapper h1 {
  color: #9F183B;
}
.list-wrapper h1 span {
  color: #959595;
  font-weight: normal;
}

h2 {
  font-family: Montserrats;
  font-size: 100%;
  font-weight: 500;
  margin-top: 2vh;
  margin-bottom: 0.75vh;
}

#searching-title {
  display: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  overflow-y: scroll;
  padding-right: 1vw;
  gap: 2vh;
  margin-top: 3vh;
}

.member-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  border-radius: 5vw;
  border: 0.25vw solid #E4E4E4;
  font-size: 1.6vh;
  cursor: pointer;
}
.member-container p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.member-container img {
  max-height: 70%;
  margin: 0 1vw 0 0.5vw;
}
.member-container hr {
  height: 80%;
  margin: 0 0.7vw;
}
.member-container img:last-of-type {
  max-height: 50%;
  margin: 0 1vw;
}

.member-container:hover {
  border-color: rgba(12, 99, 151, 0.5);
}

.member-container-active {
  border-color: #0C6397 !important;
}

.member-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  justify-content: space-evenly;
}
.member-info p {
  font-weight: bold;
}
.member-info div {
  display: flex;
}
.member-info div hr {
  margin: 0 0.7vw;
}

.member-type-container {
  display: flex;
  border-radius: 3vw;
  border: 0.25vw solid #E4E4E4;
  width: fit-content;
  /* padding: 1vh 1vw; */
  /* justify-content: space-between; */
}

.member-type {
  /* flex: 0.333; */
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh 1vw;
  font-size: 1.8vh;
}

.member-type:not(.active-type):hover {
  text-decoration: underline;
}

.active-type {
  border-radius: 3vw;
  background-color: #0C6397;
  color: white;
}

#uf-input {
  border-radius: 2vw;
  border: none;
  outline: none;
  background-color: #E4E4E4;
  opacity: 40%;
  height: 4vh;
  padding: 0 0.5vw;
  margin-top: 0.5vh;
}

#pais-input {
  opacity: 25%;
  pointer-events: none;
}

.profile-container {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  border: 0.2vw solid #E4E4E4;
  padding: 2vw;
  padding-right: 1vw;
}

.profile-data-field {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  gap: 1vh;
  padding-right: 1vw;
}

.profile-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  padding-right: 1vw;
}
.profile-buttons-container button {
  flex: 0.45;
  border: none;
  border-radius: 0.8vw;
  color: white;
  background-color: #0C6397;
  padding: 0.65vh 0;
  cursor: pointer;
  transition: 0.3s;
}
.profile-buttons-container button:hover {
  background-color: #7BDCB5;
}
.profile-buttons-container button:first-of-type {
  background-color: #9F9E9E;
}

.input-field {
  display: flex;
  flex-direction: column;
  color: #8D8D8D;
}
.input-field input {
  border-radius: 2vw;
  border: none;
  opacity: 40%;
  outline: none;
  background-color: #E4E4E4;
  height: 4vh;
  padding: 0 0.7vw;
  margin-top: 0.5vh;
}

.checkbox-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox-input input {
  margin-right: 0.5vw;
}

.tipo-pessoa-input {
  display: flex;
  flex-direction: row;
  font-size: 80%;
  align-items: center;
}
.tipo-pessoa-input div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tipo-pessoa-input .pjuridica {
  margin-left: 9.75vw;
}
.tipo-pessoa-input input {
  border-radius: 2vw;
  margin-right: 0.5vw;
}

.especialidades-inputs-container {
  display: flex;
  flex-direction: column;
  font-size: 80%;
}
.especialidades-inputs-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.especialidades-inputs-container div input {
  margin-right: 0.5vw;
}

.sys-info {
  font-size: 80%;
}

.deactivated {
  pointer-events: none;
  opacity: 0.3;
}

.bottom-container {
  display: flex;
  height: 10%;
  margin-top: 3vh;
  justify-content: space-between;
}

.bottom-container-left-buttons {
  display: flex;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C6397;
  border: 2px solid #0C6397;
  border-radius: 30vw;
  padding: 0 0.3vw 0 1vw;
  width: fit-content;
  height: 70%;
  background-color: white;
  font-size: 1.6vh;
  cursor: pointer;
  transition: 0.3s;
}
.bottom-button .center-text {
  text-align: center;
}
.bottom-button img {
  max-height: 80%;
  margin-left: 0.5vw;
  transition: 0.3s;
}

.bottom-button:last-of-type {
  margin-left: 1vw;
}

.bottom-button:hover {
  background-color: #094a6f;
  color: white;
  opacity: 1;
}
.bottom-button:hover img {
  filter: white;
  /* IE6-9 */
  filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
  /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}

/*# sourceMappingURL=adm.css.map */
