@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #F5F1F1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #E4E4E4 inset !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #E4E4E4;
  font-family: Montserrats;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 3vw;
}

img {
  max-height: 100%;
}

.top-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  position: relative;
  height: 100%;
}

.search-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 1vw;
}
.search-container img {
  position: absolute;
  left: 0.8vw;
  max-height: 30%;
}
.search-container form {
  display: contents;
}
.search-container form input {
  width: 100%;
  height: 60%;
  border-radius: 2vw;
  padding-left: 3vw;
  border: 0.25vw solid #E4E4E4;
  font-family: Montserrats;
}

.adm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C6397;
  border-radius: 30vw;
  padding: 0 0.3vw 0 0.7vw;
  width: fit-content;
  height: 60%;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.3s;
}
.adm-container img {
  max-height: 80%;
  margin-left: 0.5vw;
}

.adm-container:hover {
  background-color: #7BDCB5;
}

.result-container {
  display: flex;
  height: 80%;
  margin-top: 3vh;
}

.list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #959595;
}

#searching-title {
  display: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 1vw;
  gap: 2vh;
  margin-top: 3vh;
}

.post-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 10vh;
  border-radius: 5vw;
  border: 0.25vw solid #E4E4E4;
  font-size: 1.6vh;
}
.post-container p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.post-container img {
  max-height: 80%;
  margin: 0 1vw 0 0.5vw;
}

.post-container:hover {
  border-color: rgba(12, 99, 151, 0.5);
}

.post-container-active {
  border-color: #0C6397 !important;
}

.post-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
}
.post-info p {
  font-weight: bold;
}
.post-info div {
  display: flex;
}
.post-info div hr {
  margin: 0 0.7vw;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1vw;
  margin-left: auto;
  margin-right: 1vh;
}
.buttons-container button {
  font-family: Montserrats;
  font-weight: 600;
  flex: 0.45;
  border: none;
  border-radius: 1vw;
  color: white;
  background-color: #0C6397;
  padding: 1vh 7vh;
  cursor: pointer;
  transition: 0.3s;
}
.buttons-container button:hover {
  background-color: #7BDCB5;
}
.buttons-container button:first-of-type {
  background-color: #9F9E9E;
  margin-right: 3vh;
}

.bottom-container {
  display: flex;
  height: 10%;
  margin-top: 3vh;
  justify-content: space-between;
}

.bottom-container-left-buttons {
  display: flex;
}

.bottom-container-right-buttons {
  display: flex;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C6397;
  border: 2px solid #0C6397;
  border-radius: 30vw;
  padding: 0 0.3vw 0 1vw;
  width: fit-content;
  height: 70%;
  background-color: white;
  font-size: 1.6vh;
  cursor: pointer;
  transition: 0.3s;
}
.bottom-button .center-text {
  text-align: center;
}
.bottom-button img {
  max-height: 80%;
  margin-left: 0.5vw;
  transition: 0.3s;
}

.bottom-button:last-of-type {
  margin-left: 1vw;
}

.bottom-button:hover {
  background-color: #094a6f;
  color: white;
  opacity: 1;
}
.bottom-button:hover img {
  filter: white;
  /* IE6-9 */
  filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
  /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}

.center-text {
  text-align: center;
}

.deactivated {
  pointer-events: none;
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .main-container {
    border-radius: 7vw;
    overflow-y: scroll;
  }
  .top-container {
    margin: 16vh 0 0 5vw;
  }
  .search-container {
    margin: 0 7vw;
  }
  .search-container img {
    left: 2vw;
  }
  .search-container form {
    display: contents;
  }
  .search-container form input {
    border-radius: 7vw;
    padding-left: 8vw;
    width: 52vw;
  }
  .bottom-container-left-buttons {
    display: flex;
    position: absolute;
    top: 5vh;
    left: 26vw;
    height: 10%;
    margin: 3vh 0;
  }
  .bottom-container-right-buttons {
    display: flex;
    position: absolute;
    top: 12vh;
    left: 15vw;
    height: 10%;
    margin: 3vh 0;
  }
  .bottom-button {
    height: 50%;
    margin: 0 2vw;
  }
  .bottom-button img {
    max-height: 70%;
    margin-left: 2vw;
  }
  .list-wrapper {
    margin-top: auto;
    width: 100%;
    height: fit-content;
  }
  .post-container {
    flex-direction: column;
    height: fit-content;
    padding: 2vh;
  }
  .post-container img {
    height: 10%;
    margin: 1vh 1vw;
  }
  .buttons-container {
    margin: 1vh 2vw;
  }
  .buttons-container button {
    border-radius: 5vw;
    padding: 1vh 3vw;
  }
  .post-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
  }
  .post-info p {
    font-weight: bold;
  }
  .post-info div {
    display: flex;
    flex-direction: column;
  }
  .post-info div hr {
    display: none;
  }
}

/*# sourceMappingURL=adm_posts.css.map */
