@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: Montserrats;
  src: url("/static/fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #F5F1F1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #E4E4E4 inset !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #E4E4E4;
  font-family: Montserrats;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 3vw;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
}

.columns-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  width: 100%;
  margin-bottom: 2vh;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48%;
}
.column1 textarea {
  background-color: #E4E4E4;
  border: none;
  border-radius: 2vw;
  color: #8d8d8d;
  font-family: Montserrats;
  height: 100%;
  width: 100%;
  margin-top: 1vh;
  padding: 0.75vw;
  resize: none;
}

img {
  max-height: 100%;
}

.img-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.row1 {
  display: flex;
  flex-direction: column;
  margin-left: 1.25vw;
}

.radios-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2vh 0 1vh 0;
}
.radios-container input[type=radio] {
  border: 0px;
  height: 3vh;
  width: 100%;
  margin-right: 0.5vw;
}
.radios-container #video-input {
  margin-left: 13vw;
}
.radios-container label {
  color: #6b6b6b;
  font-family: Montserrats;
  font-weight: 600;
  font-size: 100%;
}
.radios-container p {
  color: #8d8d8d;
  font-family: Montserrats;
  font-size: 90%;
}

.post-type-input {
  display: flex;
  flex-direction: row;
}

h1 {
  color: #6b6b6b;
  font-family: Montserrats;
  font-weight: 600;
  font-size: 130%;
  margin-bottom: 0.75vh;
}

h2 {
  color: #6b6b6b;
  font-family: Montserrats;
  font-weight: 600;
  font-size: 110%;
}

p {
  color: #8d8d8d;
  font-family: Montserrats;
  font-size: 100%;
}

.dashed-box {
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
  outline: #cfcfcf dashed 0.5vh;
  padding: 1vw 11vw;
  height: 120px;
  width: 100%;
}

.search-box {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  padding: 2vh 3vh;
  cursor: pointer;
}
.search-box p {
  color: #8d8d8d;
}

.search-button {
  text-align: center;
}
.search-button p {
  color: #312871;
  font-weight: 600;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 1vh 0 2vh;
}
.categories-container #membership-input {
  color: #656565;
  border: none;
  border-radius: 2vw;
  font-weight: 600;
  margin: 1vh 0;
  outline: #E4E4E4 solid 0.25vw;
  padding: 1vh 2vh;
  width: 100%;
}

.column2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48%;
}
.column2 textarea {
  background-color: #E4E4E4;
  border: none;
  border-radius: 2vw;
  font-family: Montserrats;
  height: 100%;
  width: 100%;
  margin-top: 1vh;
  padding: 0.75vw;
  resize: none;
}
.column2 #summary-area {
  height: 30%;
  margin-bottom: 2vh;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0 0 auto;
}
.buttons-container button {
  font-family: Montserrats;
  font-weight: 600;
  flex: 0.45;
  border: none;
  border-radius: 1vw;
  color: white;
  background-color: #0C6397;
  padding: 1vh 4vw;
  cursor: pointer;
  transition: 0.3s;
}
.buttons-container button:hover {
  background-color: #7BDCB5;
}
.buttons-container button:first-of-type {
  background-color: #9F9E9E;
  margin-right: 5vh;
}

#upload-file {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main-container {
    overflow-y: scroll;
    border-radius: 5vw;
  }
  .buttons-container {
    position: absolute;
    align-self: center;
  }
  .buttons-container button {
    border-radius: 5vw;
    margin: 1vh 1vw;
  }
  .buttons-container button:first-of-type {
    margin-right: 5vw;
  }
  .top-container {
    margin-top: 13vh;
    margin-bottom: 2vh;
  }
  .top-container img {
    margin-right: 3vw;
  }
  .dashed-box {
    margin: 1vh 0;
  }
  .search-box {
    border-radius: 5vw;
  }
  .radios-container input[type=radio] {
    margin-right: 2vw;
  }
  .radios-container p {
    margin-top: 1vh;
  }
  .categories-container #membership-input {
    border-radius: 5vw;
  }
  .columns-container {
    flex-direction: column;
  }
  .column1 {
    width: 100%;
  }
  .column1 textarea {
    padding: 2vw;
  }
  .column2 {
    width: 100%;
  }
  .column2 textarea {
    padding: 2vw;
  }
  #title-area {
    margin-bottom: 2vh;
  }
  #content-area {
    margin-bottom: 2vh;
  }
}
/*# sourceMappingURL=adm_new_post.css.map */

/*# sourceMappingURL=adm_new_post.css.map */
