@import 'colors';
@import 'adm_container';

img {
    max-height: 100%;
}

.top-container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    position: relative;
    height: 100%;
}

.search-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 1vw;

    img {
        position: absolute;
        left: 0.8vw;
        max-height: 30%;
    }

    form {
        display: contents;

        input {
            width: 100%;
            height: 60%;
            border-radius: 2vw;
            padding-left: 3vw;
            border: 0.25vw solid $background-color;
            font-family: Montserrats;
            font-size: 2vh;
        }
    }
}


.adm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-color;
    border-radius: 30vw;
    padding: 0 0.3vw 0 0.7vw;
    width: fit-content;
    height: 60%;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s;

    img {
        max-height: 80%;
        margin-left: 0.5vw;
    }
}

.adm-container:hover {
    background-color: $button-hovered-color;
}


.result-container {
    display: flex;
    height: 80%;
    margin-top: 1vh;
}

.list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $list-text-color;
    width: 100%;
}

#searching-title {
    display: none;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 1vw;
    gap: 2vh;
    margin-top: 3vh;
}

.post-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: 5vw;
    border: 0.25vw solid $background-color;
    font-size: 1.6vh;

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    img {
        max-height: 80%;
        margin: 0 1vw 0 0.5vw;
    }
}

.post-container:hover {
    border-color: rgba(12, 99, 151, 0.5);
}

.post-container-active {
    border-color: $button-color !important;
}


.post-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;

    p {
        font-weight: bold;
    }

    div {
        display: flex;

        hr {
            margin: 0 0.7vw;
        }
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1vw;
    margin-left: auto;
    margin-right: 1vh;

    button {
        font-family: Montserrats;
        font-size: 2vh;
        font-weight: 600;
        flex: 0.45;
        border: none;
        border-radius: 4vw;
        color: white;
        background-color: $button-color;
        padding: 1vh 7vh;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: $button-hovered-color;
    }

    button:first-of-type {
        background-color: $button-secondary-color;
        margin-right: 3vh;
    }
}

// .bottom-container {
//     display: flex;
//     flex-direction: row;
//     height: 10%;
//     justify-content: right;
//     margin-top: 1vh;
// }

// .new-post-button {
//     color: #0C6397;
//     display: flex;
//     flex-direction: row;
//     font-family: montserrats;
//     font-weight: 600;
//     align-items: center;
//     text-decoration: none;

//     img {
//         height: 75%;
//         margin-left: 0.5vw;
//     }
// }


.bottom-container {
    display: flex;
    height: 10%;
    margin-top: 3vh;
    justify-content: space-between;
}

.bottom-container-left-buttons {
    display: flex;
}

.bottom-container-right-buttons {
    display: flex;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-color;
    border: 2px solid $button-color;
    border-radius: 30vw;
    padding: 0 0.3vw 0 1vw;
    width: fit-content;
    height: 70%;
    background-color: white;
    font-size: 1.6vh;
    cursor: pointer;
    transition: 0.3s;

    .center-text {
        text-align: center;
    }

    img {
        max-height: 80%;
        margin-left: 0.5vw;
        transition: 0.3s;
    }
}

.bottom-button:last-of-type {
    margin-left: 1vw;
}

.bottom-button:hover {
    background-color: #094a6f;
    color: white;
    opacity: 1;

    img {
        filter: white;
        /* IE6-9 */
        filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
        /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1) invert(100%) brightness(200%) contrast(100%);
        /* Google Chrome, Safari 6+ & Opera 15+ */
    }
}

.center-text {
    text-align: center;
}

.deactivated {
    pointer-events: none;
    opacity: 0.3;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .main-container {
        position: relative;
        border-radius: 7vw;
        overflow-y: scroll;
    }

    .top-container {
        margin: 15vh 0 0 4vw;
    }

    .search-container {
        margin: 0 7vw 0 5vw;

        img {
            left: 3vw;
        }

        form {
            display: contents;

            input {
                border-radius: 7vw;
                padding-left: 8vw;
                width: 54vw;
                border: 1.5vw solid #E4E4E4
            }
        }
    }

    .list-container {
        padding-right: 0;
        margin: 3vh 0 2vh;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20%;
        margin-top: 0;
    }

    .bottom-container-left-buttons {
        display: flex;
        position: absolute;
        top: 1vh;
        align-self: center;
        height: 10vh;
        margin: 1vh 0;
        justify-content: space-between;
    }

    .bottom-container-right-buttons {
        display: flex;
        position: absolute;
        top: 8vh;
        align-self: center;
        height: 10vh;
        margin: 1vh 0;
        justify-content: space-between;
    }

    .bottom-button {
        height: 50%;
        margin: 0 5vw;
        padding-left: 3vw;

        p {
            margin-left: auto;
        }

        img {
            max-height: 90%;
            margin-left: 1vw;
        }
    }

    .bottom-button:last-of-type {
        margin-left: 0;
    }

    .result-container {
        margin-top: 0;
    }

    .list-wrapper {
        margin-top: -0.5vh;
        width: 100%;
        height: fit-content;
    }

    .post-container {
        position: relative;
        flex-direction: column;
        height: 20vh;
        padding: 0 2vh;
        border: 1.5vw solid #E4E4E4;

        img {
            position: absolute;
            top: 1vh;
            left: 2vw;
            max-height: 40%;
            margin: 1vh 1vw;
        }
    }

    .post-container:hover {
        border-color: $button-color;
    }

    .buttons-container {
        position: absolute;
        bottom: 2vh;
        width: 90%;
        margin-right: 0;

        button {
            border-radius: 5vw;
            padding: 1vh 3vw;
        }
    }

    .post-info {
        position: absolute;
        top: 2vh;
        left: 22vw;
        display: flex;
        flex-direction: column;
        width: 67%;
        height: fit-content;

        p {
            font-weight: bold;
        }

        div {
            display: flex;
            flex-direction: column;

            p {
                font-weight: 500;
            }

            hr {
                display: none;
            }
        }
    }

}