:root {
    --primary-color: #0C6397;
    --input-background: #E4E4E4;
    --primary-text-color: #8D8D8D;
    --secondary-text-color: #6B6B6B;
    --line-color: #707070;
}

body {
    justify-content: space-around;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--input-background) inset !important;
}

.body-container {
    display: flex;
    background-color: var(--primary-color);
    width: 70%;
    height: 65vh;
    border-radius: 1.5vw;
    margin-top: 16vh;
}

.body-container>img {
    object-fit: contain;
    width: 30%;
    height: auto;
    margin: 5vw 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.4vw;
    background-color: white;
    width: 100%;
    padding: 3vw;
    border-radius: 1.5vw;
    align-items: center;
    color: var(--primary-text-color);
}

.container * {
    margin-left: 1vw;
    margin-right: 1vw;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titles {
    display: flex;
    width: 100%;
    color: var(--secondary-text-color);
}

.titles hr {
    border: transparent;
    border-left: 2px solid var(--line-color);
}

.titles hr+a {
    color: var(--primary-text-color);
    text-decoration: none;
    text-align: start;
    display: contents;
}

a>h1 {
    opacity: 0.5;
    transition: 0.3s;
}

a>h1:hover {
    opacity: 1;
}

label {
    margin: 0;
    font-weight: bold;
}

input {
    border-radius: 1.5vw;
    height: 6vh;
    background-color: var(--input-background);
    opacity: 0.7;
    border: none;
    outline: none;
    padding: 1vw;
    color: var(--primary-text-color);
    font-size: 1vw;
}

::placeholder {
    color: var(--primary-text-color);
    opacity: 0.9;
    font-size: 1vw;
}

button {
    background-color: var(--primary-color);
    border-radius: 1.5vw;
    border: none;
    color: white;
    font-weight: bold;
    height: 6vh;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.container button:hover {
    background-color: #094a6f;
}

.container>.recover-password {
    margin: 0;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    opacity: 0.5;
    font-size: 1vw;
    transition: 0.3s;
    cursor: pointer;
}

.container>.recover-password:hover {
    opacity: 1;
}

.container>p {
    margin-top: 0;
    font-size: 1vw;
    color: var(--primary-text-color)
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    z-index: 5;
    padding: 2vw;
    color: var(--secondary-text-color);
    outline: 1vw solid var(--primary-color);
    width: 50%;
}

.popup-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#recover-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#recover-input {
    width: 100%;
    margin-right: 2vw;
}

#recover-submit {
    margin: 0;
    transition: 0.3s;
}

#recover-submit:hover {
    background-color: #094a6f;
}

#x-button img {
    filter: invert(28%) sepia(26%) saturate(4003%) hue-rotate(181deg) brightness(89%) contrast(84%);
    cursor: pointer;
}

.popup button {
    padding: 1vh 2vw;
}

@media only screen and (max-width: 600px) {

    .body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 155vw;
        border-radius: 7vw;
        margin: 2vw;
        padding-bottom: 2vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.4vw;
        background-color: white;
        width: 95%;
        height: 95%;
        padding: 3vw;
        border-radius: 7vw;
        align-items: center;
        color: var(--primary-text-color);
    }

    .titles {
        display: flex;
        width: 90%;
        color: var(--secondary-text-color);
        font-size: 4vw;
        justify-content: space-around;
    }

    .body-container>img {
        object-fit: contain;
        width: 40%;
        height: auto;
        margin: 1vw 0;
    }

    label {
        margin-top: 1vw;
        font-size: 4vw;
    }

    input {
        border-radius: 7vw;
        height: 8vw;
        background-color: var(--input-background);
        opacity: 0.7;
        border: none;
        outline: none;
        padding-left: 3vw;
        color: var(--primary-text-color);
        font-size: 4vw;
    }

    ::placeholder {
        color: var(--primary-text-color);
        opacity: 0.9;
        font-size: 4vw;
    }

    button {
        background-color: var(--primary-color);
        border-radius: 7vw;
        border: none;
        color: white;
        font-size: 4vw;
        font-weight: bold;
        height: 8vw;
        margin: 3vw 0 0;
        cursor: pointer;
        transition: 0.3s;
    }

    .container>.recover-password {
        font-size: 4vw;
    }

    .container>p {
        margin-top: 0;
        font-size: 4vw;
        color: var(--primary-text-color)
    }

    .popup {
        width: 90vw;
        font-size: 4vw;
        border-radius: 7vw;
        box-shadow: 0 0 15vw 150vw rgba(0, 0, 0, 0.5);
        outline: 2vw solid var(--primary-color);
    }

}