/* ----- PLANS CONTAINER ----- */
:root {
  --borda-plano-vencido: #E12454;
}

#plans-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5vw 3vw;
  height: 90%;
}

.plans-titles-container {
  margin: 0 0.5vw 0 1vw;
  display: flex;
  align-items: center;
}

.plans-titles-container div {
  margin: 0;
}

.plans-titles-container p {
  margin-left: 0;
}

.plans-titles {
  flex: 0.6;
}

.vigencia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.4;
  background-color: var(--secondary-color);
  border-radius: 2vw;
  right: 0;
}

#vigencia-text {
  color: white !important;
  font-size: 1.25vw !important;
}

#plans-container h1 {
  font-size: 1.1vw;
  margin: 0;
}

#plans-container > h1 {
  margin: 5px 10px 0;
}

#plans-container p {
  font-size: 0.9vw;
}

#plans-container p span {
  font-weight: bold;
}

.deactivated-button {
  opacity: 0.5;
  pointer-events: none;
}

#upgrade-plan-button {
  height: fit-content;
  padding: 0.5vw;
}

.regularize-button {
  background-color: #5ca587;
  width: 50%;
  align-self: center;
}

.regularize-button:hover {
  background-color: var(--secondary-color);
}

.plans {
  display: flex;
  flex-direction: column;
  background-color: var(--toolbar-color);
  border-radius: 1.5vw;
  margin: 0.5vw;
  cursor: pointer;
  padding: 0 0.5vw;
}

.plan-title {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5vw;
  padding: 0.5vw;
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
}

.plans hr {
  margin: 0 0.5vw;
  width: 20%;
}

.active-plan {
  outline: 0.3vw solid var(--primary-color);
}

.active-plan > div {
  background-color: var(--input-background);
}

.active-plan > hr {
  display: none;
}

.active-plan > .plan-title > p {
  margin: 0 2vw;
  font-weight: bold;
  font-size: 1.1vw;
  text-align: center;
  margin-left: auto;
}

#active-plan-icon {
  position: absolute;
  width: 2vw;
  left: 1.7vw;
}

.selected-plan {
  outline: 0.3vw solid var(--secondary-color);
}

.documents-container {
  position: absolute;
  width: 100%;
  height: 35vw;
  background-color: white;
  z-index: 10;
  left: -0.7vw;
  top: 7.5vw;
  border-radius: 1.5vw;
}

.docs-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5vw 0 4vw;
}

.docs-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5vw 0 4vw;
  height: fit-content;
}

.docs-row1-column1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.docs-row1-column1 h2 {
  color: #6b6b6b;
  font-weight: 600;
  margin-bottom: 0.3vw;
}

.docs-row1-column1 h4 {
  color: #6b6b6b;
  margin-top: 0.3vw;
  margin-bottom: 0;
}

.docs-row1-column2 img {
  height: 4vw;
}

.docs-row2-column1 {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin: 0;
}

.docs-row2-column1 h3 {
  color: #6b6b6b;
  margin-bottom: 0.25vw;
}

.requirements {
  font-size: 105% !important;
  margin: 0 10px;
}

.docs-row2-column2 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.warning {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 2vw;
  margin-top: 0;
}

.warning img {
  height: 1.5vw;
}

.warning p {
  margin: 3px;
}

.license-info {
  display: flex;
  flex-direction: row;
  margin-top: 3vw;
}

.dashed-box {
  border: 3px dashed #cfcfcf;
  height: 90%;
  width: 100%;
  margin: 0 7vw 0 0;
  padding: 5vw 9vw;
}

.search-box {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5vw;
  cursor: pointer;
}

.search-box p {
  color: #8d8d8d;
  margin: 0;
}

.search-button > p {
  color: #312871 !important;
  font-weight: 600;
}

.document-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 2.75vw;
  width: 5vw;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.75);
}

.document-circle > h1 {
  font-weight: 700;
}

.plans-buttons-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 0;
  right: 4.5vw;
  bottom: 3.5vw;
}

.plans-buttons-container button {
  border: none;
  border-radius: 0.8vw;
  color: white;
  background-color: #0C6397;
  padding: 0.3vw 1vw;
  cursor: pointer;
  transition: 0.3s;
  width: 8vw;
}

.plans-buttons-container button:hover {
  background-color: #7BDCB5;
}

.plans-buttons-container button:first-of-type {
  background-color: #9F9E9E;
}

.plans-panel {
  display: contents;
}

.payment-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.payment-container * {
  margin: 0;
}
.payment-container h1 {
  font-size: 2vw !important;
}
.payment-container h2 {
  color: var(--text-terciary);
  font-size: 1.5vw;
  margin-top: 0.25vw;
}
.payment-container span {
  font-size: inherit;
}
.payment-container label {
  color: #8D8D8D;
}

.payment-header {
  display: flex;
  margin: 0;
}

.logo {
  height: 4vw;
  object-fit: contain;
  margin-left: auto;
  margin-right: 3vw;
}

.payment-body {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.25vw;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
.qr-container button {
  height: 2vw;
  padding: 0 1vw;
  margin-top: 0.5vw;
  transition: 0.3s;
}

.receipt-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E12454;
  border-radius: 2vw;
  padding: 0.2vw 1vw;
}
.receipt-notice p {
  margin: 0;
  color: white;
  font-weight: 900;
  opacity: 1;
}

.qrc {
  height: 15vw;
  object-fit: contain;
}

.hr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hr-container hr {
  height: 7.5vw;
  border: none;
  border-left: 2px solid var(--line-color);
}
.hr-container h2 {
  margin: 1vw 0;
}

.payment-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
.payment-form-container * :not(#payment-back-button) {
  opacity: 0.5;
  pointer-events: none;
}
.payment-form-container .payment-form {
  width: 100%;
}
.payment-form-container .payment-form *:not(h2) {
  font-size: 1vw;
}
.payment-form-container .data-slot {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
.payment-form-container .data-slot > label {
  font-weight: 500;
  margin: 0.25vw 0;
}
.payment-form-container .data-column {
  display: flex;
  flex-direction: column;
}
.payment-form-container .data-column > label {
  font-weight: 500;
  margin: 0.25vw 0;
}
.payment-form-container .t-quarters {
  width: 74%;
}
.payment-form-container .half {
  width: 49%;
}
.payment-form-container .quarter {
  width: 24%;
}
.payment-form-container .data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.payment-form-container input {
  color: #8D8D8D;
  background-color: var(--input-background, 0.4);
  border: none;
  border-radius: 2vw;
  padding: 0.25vw 1vw;
}
.payment-form-container hr {
  margin: 1.5vw 0;
  border: none;
  border-top: 2px solid var(--line-color);
  opacity: 0.5;
  width: 45vw;
}
.payment-form-container .pay-button {
  width: 10vw;
  margin: 0.75vw 0;
}
.payment-form-container #payment-back-button {
  margin-top: 1vw;
}

@media only screen and (max-width: 600px) {
  #plans-container {
    height: auto;
    margin-bottom: 6vw;
    padding: 0 2vw;
  }
  #plans-container h1 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  #plans-container p {
    font-size: 4vw;
  }
  #plans-container p span {
    font-size: 4vw;
    margin-left: 2vw;
  }
  .active-plan > .plan-title > p {
    font-size: 4vw;
  }
  .requirements {
    font-size: 4vw !important;
  }
  .plans-titles-container {
    flex-direction: column;
    margin: 0;
  }
  .vigencia-container {
    padding: 2vw 3vw;
    border-radius: 9vw;
  }
  #vigencia-text {
    font-size: 5vw !important;
  }
  .plans-titles-container div {
    margin: 4vw 0;
  }
  .plans {
    margin: 6vw 0;
    padding: 4vw;
    border-radius: 9vw;
  }
  .plans hr {
    display: none;
  }
  .plan-title {
    border-radius: 9vw;
  }
  #active-plan-icon {
    display: none;
    width: 4vw;
    right: 1vw;
  }
  .active-plan > div {
    margin-bottom: 4vw;
  }
  .documents-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 8;
  }
  .documents-container .docs-row1-column2 {
    display: none;
  }
  .documents-container .docs-row2 {
    flex-direction: column;
  }
  .documents-container .docs-row2 .docs-row2-column1 {
    width: 100%;
    gap: 5vw;
    margin: 5vw 0;
  }
  .documents-container .docs-row2 .docs-row2-column1 p {
    margin: 0;
  }
  .documents-container .docs-row2 .docs-row2-column1 .warning {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4vw;
    gap: 2vw;
    border-radius: 9vw;
  }
  .documents-container .docs-row2 .docs-row2-column1 .warning img {
    height: 10vw;
  }
  .documents-container .docs-row2 .docs-row2-column1 .warning p {
    font-size: 4vw !important;
  }
  .documents-container .docs-row2 .docs-row2-column1 h3 {
    font-size: 5vw;
  }
  .documents-container .docs-row2 .docs-row2-column1 .license-info {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    margin: 0;
  }
  .documents-container .docs-row2 .docs-row2-column1 .license-info .document-circle {
    width: 20vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
  }
  .documents-container .docs-row2 .docs-row2-column1 .license-info .document-circle h1 {
    font-size: 10vw !important;
  }
  .documents-container .docs-row2 .dashed-box {
    padding: 0;
    height: auto;
  }
  .documents-container .docs-row2 .dashed-box .search-box {
    height: 45vw;
    align-items: center;
    justify-content: center;
    margin: 5vw 2vw;
    border-radius: 15vw;
  }
  .documents-container .docs-row2 .dashed-box .search-box img {
    height: 20vw;
  }
  .documents-container .docs-row2 .dashed-box .search-box .search-button > p {
    text-align: center;
  }
  .documents-container .plans-buttons-container {
    position: relative;
    justify-content: space-evenly;
    margin: 0;
    right: 0;
    bottom: 0;
  }
  .documents-container .plans-buttons-container button {
    width: 25vw;
    border-radius: 9vw;
  }
  #upgrade-plan-button {
    font-size: 4vw;
    padding: 3vw;
    border-radius: 9vw;
  }
  .payment-container h1 {
    font-size: 4vw !important;
  }
  .payment-container h2 {
    margin-bottom: 4vw;
  }
  .payment-header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .payment-header div * {
    margin: 4vw 0;
  }
  .logo {
    display: none;
  }
  .payment-body {
    flex-direction: column;
  }
  .qr-container {
    width: 100%;
  }
  .qr-container * {
    margin: 2vw 0;
  }
  .qr-container button {
    height: fit-content;
    padding: 2vw 2vw;
  }
  .hr-container {
    flex-direction: row;
    margin: 12vw 0;
  }
  .hr-container hr {
    height: 0;
    width: 30vw;
    border-top: 2px solid var(--line-color);
  }
  .payment-form-container {
    width: 100%;
  }
  .payment-form-container * {
    margin: 1vw 0;
  }
  .payment-form-container label {
    align-self: center;
  }
  .payment-form-container input {
    width: 100%;
  }
  .payment-form-container ::placeholder {
    font-size: 4vw;
  }
  .payment-form-container .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment-form-container .data-slot {
    align-items: center;
  }
  .payment-form-container .t-quarters {
    width: 100%;
  }
  .payment-form-container .half {
    width: 100%;
  }
  .payment-form-container .quarter {
    width: 100%;
  }
  .payment-form-container .data-row {
    flex-direction: column;
    align-items: center;
  }
  .payment-form-container button {
    border-radius: 9vw;
  }
  .payment-form-container .pay-button {
    width: 40vw;
  }
}

/*# sourceMappingURL=plans.css.map */
