:root {
    --primary-color: #0C6397;
    --secondary-color: #7BDCB5;
    /* --secondary-color: #91a9b8; */
    --line-color: #8D8D8D;
    --toolbar-color: #F5F5F5;
    --text-primary: #959595;
    --text-secondary: #8D8D8D;
    --text-terciary: #6B6B6B;
    --input-background: #E4E4E4;
    --table-row-background: #DCDCDC;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-background) inset !important;
}

/* loading */
#loading-screen {
    position: absolute;
    background-color: var(--line-color);
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    z-index: 500;
    overflow: visible;
}

/* GENERAL */

body {
    justify-content: space-around;
    align-items: space-around;
}

.body-container {
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 1.5vw;
    width: 90vw;
    height: 81vh;
    filter: drop-shadow(0 3px 20px rgba(0, 0, 0, 0.15));

}

.body-container hr {
    margin: 0;
}

h1 {
    color: var(--text-primary);
}

h2 {
    color: var(--text-primary);
}
p {
    color: var(--text-secondary);
    opacity: 0.7;
}

button {
    background-color: var(--primary-color);
    border-radius: 1.5vw;
    border: none;
    color: white;
    font-weight: bold;
    height: 4vh;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

button:hover {
    background-color: #094a6f;
}

/* TOOLBAR */

.body-toolbar {
    display: flex;
    background-color: var(--toolbar-color);
    margin: 0;
    border-radius: 1.5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: space-around;
    align-items: center;
}

.body-toolbar hr {
    margin: 0;
    height: 35%;
}

.toolbar {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding: 1.5vw 0;
    user-select: none;
    transition: 0.5s;
}

.toolbar:hover:not(.toolbar-active) {
    /* background-color: #a6d3fc; */
    padding-bottom: 0;
}

.toolbar h1 {
    font-size: 1vw;
    margin-bottom: 0.2vw;
}

.toolbar p {
    font-size: 0.8vw;
    margin-top: 0.2vw;
}

#toolbar-profile {
    border-top-left-radius: 1.5vw;
}

#toolbar-requests {
    border-top-right-radius: 1.5vw;
}

.toolbar-active {
    background-color: white;
    cursor: default;
}

/* Floating Pop Up */
#floating-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 30vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--toolbar-color);
    border-radius: 2vw;
    padding: 2vw;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.5));
}

#floating-popup button {
    width: 50%;
    height: 3.5vh;
    flex-shrink: 0;
}

/* main containers */

.main-container {
    display: flex;
}

/* ----- PROFILE CONTAINER ----- */

#profile-container {
    display: flex;
    flex-direction: column;
}

#profile-container > hr {
    width: 87%;
    align-self: center;
    opacity: 0.5;
    border: transparent;
    border-bottom: 2px solid var(--line-color);
}

.info-container-wrapper {
    display: flex;
    margin: 2vw;
}

.info-container-wrapper img:first-of-type {
    /* margin-left: 2vw; */
    width: 23vw;
    /* margin-top: -1.5vw; */
    /* align-self: center; */
}

.camera-icon-container {
    width: fit-content;
    height: fit-content;
    background-color: white;
    position: absolute;
    z-index: 5;
    margin: 0;
    cursor: pointer;
    filter: drop-shadow(0 3px 20px rgba(0, 0, 0, 0.15));
    border-radius: 80vw;
    left: 15vw;
    margin-top: 1.5vh;
    transition: 0.5s;
}

.camera-icon-container:hover {
    transform: scale(1.1)
}

#camera-icon {
    width: 2.5vw;
    margin: 0.55vw;
    /* left: -5vw; */
}

.info-container-wrapper img:last-of-type {
    /* margin-right: 2vw; */
    align-self: flex-start;
    object-fit: cover;
    width: 10vw;
    margin-top: -6vh;
}

.info-container {
    display: flex;
    width: 100%;
}

.info-container > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.info-container > div > h1 {
    font-size: 1vw;
    margin: 0;
}

.info-container > div > p {
    font-size: 0.9vw;
    margin: 0.5vw 0 1vw;
}

.curriculum-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    height: 16vh;
    margin: 10px 2vw 5px;
}

.curriculum-container h1 {
    font-size: 1.2vw;
}

.curriculum-container p {
    opacity: 1;
    font-size: 1vw;
}
