:root {
    --primary-color: #0C6397;
    --input-background: #E4E4E4;
    --primary-text-color: #8D8D8D;
    --secondary-text-color: #6B6B6B;
    --line-color: #707070;
}

@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: Montserrats;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4E4E4;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: min-content;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 7.5vh;
    padding: 2vh 2vw 3vh;
    outline: #0C6397 solid 0.4vw;
}

.link-row {
    display: flex;
    flex-direction: row;
}

h1 {
    color: var(--secondary-text-color);
    text-align: center;
    margin: 2vh;
}

h2 {
    color: var(--primary-text-color);
}

a {
    color: var(--primary-color);
}