/* ----- Requests Container ----- */
#requests-container {
  display: flex;
  flex-direction: column;
  padding: 2vw 5vw;
  height: 80%;
}

#requests-container > div {
  display: flex;
}

#requests-container h1 {
  color: var(--text-terciary);
  font-size: 1.5vw;
}

#requests-container p {
  color: var(--text-secondary);
  font-size: 1vw;
}

#requests-container select option {
  border-radius: 2vw;
  color: var(--text-terciary);
}

#requests-container select {
  border-radius: 2vw;
  width: 100%;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
  outline: none;
  border: 1px solid var(--input-background);
  padding: 1vh 1vw;
}

#new-request-button {
  width: 25%;
}

.visualization-container {
  display: flex;
  flex-direction: column;
}

.visualization-container > h1 {
  margin-top: 4vh;
  margin-bottom: 0;
}

.requests-history table {
  font-size: 1vw;
  text-align: center;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

.requests-history table td img {
  cursor: pointer;
}

.table-header th {
  padding: 1vh 2vw;
  background-color: #0C6397;
  color: white;
}

.table-header th:first-of-type {
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.table-header th:last-of-type {
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.requests-history tr:nth-child(odd) {
  background-color: var(--table-row-background);
}

.new-request-container {
  display: flex;
  flex-direction: column;
}

.new-request-data {
  height: 75%;
}

.new-request-description {
  margin-left: 0;
  overflow-y: auto;
  height: 60%;
}

.new-request-description > h1 {
  font-size: 1.5vw;
}

.new-request-buttons {
  display: flex;
}

.new-request-buttons > button {
  width: 8vw;
}

@media only screen and (max-width: 600px) {
  #new-request-button {
    border-radius: 9vw;
    font-size: 5vw;
    height: fit-content;
    padding: 3vw;
    width: 100%;
  }
  #requests-container {
    width: 80vw;
  }
  #requests-container h1 {
    font-size: 5.5vw;
    margin-top: 18vw;
  }
  #requests-container p {
    font-size: 5vw;
    margin: 5vw 0 0;
    display: none;
  }
  #requests-container .requests-history {
    overflow-y: visible;
    height: 100%;
    width: 100%;
  }
  #requests-container .requests-history table {
    font-size: 4vw;
  }
  #requests-container .requests-history table .table-header th:first-of-type {
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
  }
  #requests-container .requests-history table .table-header th:last-of-type {
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
  }
  #requests-container .requests-history table tbody td {
    font-size: 3vh;
  }
  #requests-container .requests-history thead {
    display: none;
  }
  #requests-container .requests-history tr {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    border: #0C6397 solid 4px;
    border-radius: 8vw;
    margin: 20vw 0;
    padding: 2vh 0;
    background-color: white;
    box-shadow: 0 0 1.5vh 1.5vh rgba(0, 0, 0, 0.15);
  }
  #requests-container .requests-history table td img {
    height: 6vh;
    width: auto;
  }
  #requests-container .requests-history tbody tr:first-of-type {
    display: none;
  }
  #requests-container select {
    border-radius: 10vw;
  }
  #requests-container .new-request-description {
    height: 75vw;
  }
  #requests-container .new-request-buttons {
    position: absolute;
    bottom: 4vw;
    width: 80vw;
    gap: 3vw;
  }
  #requests-container .new-request-buttons button {
    flex: 0.5;
    border-radius: 9vw;
  }
  .visualization-container {
    align-items: center;
  }
}

/*# sourceMappingURL=requests.css.map */
