:root {
    --primary-color: #0C6397;
    --secondary-color: #7BDCB5;
    --terciary-color: #2FC178;
    --public-info-color: rgba(16, 141, 98, 0.5);
    --private-info-color: rgba(24, 16, 141, 0.5);
    /* --secondary-color: #91a9b8; */
    --line-color: #8D8D8D;
    --toolbar-color: #F5F5F5;
    --text-primary: #959595;
    --text-secondary: #8D8D8D;
    --text-terciary: #6B6B6B;
    --input-background: #E4E4E4;
    --table-row-background: #DCDCDC;
}

/* ----- Restrict Container ----- */

#restrict-container {
    display: flex;
    width: 100%;
    height: 85%;
}

#restrict-container>hr {
    margin-top: 15vh;
    height: 40%;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 13vh;
}

.side-bar>h1 {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 2vw;
}

.category-select {
    h2 {
        color: var(--text-secondary);
        opacity: 0.3;
        transition: 0.3s;
    }

    h2:hover:not(.selected-category) {
        cursor: pointer;
        transform: scale(1.1);
    }

    .selected-category {
        color: var(--text-terciary);
        pointer-events: none;
        opacity: 1;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.content-container h1 {
    color: var(--text-terciary);
    font-weight: bold;
}

.restrict-toolbar {
    display: flex;
    width: 40%;
    font-size: 1vw;
}

.restrict-toolbar h1 {
    color: var(--text-secondary);
    opacity: 0.3;
    cursor: pointer;
    transition: 0.3s;
}

.restrict-toolbar h1:hover {
    transform: scale(1.1);
}

.restrict-toolbar>hr {
    margin: 1vh auto;
}

.active-restrict-tool {
    color: var(--text-terciary) !important;
    opacity: 1 !important;
    pointer-events: none;
}

#publicacoes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    margin-right: 1.5vw;
}

#publicacoes-container>hr {
    width: 80%;
    margin: 1vw auto;
}

#publicacoes-container>hr:last-of-type {
    display: none;
}

.restrict-content-wrapper {
    display: flex;
}

#videos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    margin-right: 1.5vw;

}

#videos-container>hr {
    width: 80%;
    margin: 1vw auto;
}

#videos-container>hr:last-of-type {
    display: none;
}

.video-wrapper {
    display: flex;
}

.content-box {
    margin: 0;
    height: 30vh;
    max-width: 100%;
    overflow-y: auto;
}

.restrict-content-data {
    display: flex;
    flex-direction: column;
}

.restrict-content p:not(.restrict-content-author) {
    font-size: 0.9vw;
}

.restrict-content-author {
    color: var(--primary-color);
    font-size: 0.7vw;
    font-weight: bold;
    margin-top: 0;
}

.restrict-content h1 {
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.restrict-media {
    object-fit: contain;
    width: 10vw;
    cursor: pointer;
    transition: 0.3s;
}

.restrict-media:hover {
    transform: scale(1.05);
}

.content-title {
    cursor: pointer;
    transition: 0.3s;
}

.content-title:hover {
    transform: scale(1.05);
}

.learn-more-button {
    color: var(--primary-color) !important;
    align-self: flex-end;
    margin-right: 4vw;
    cursor: pointer;
    transition: 0.3s;
}

.learn-more-button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {

    .restrict-toolbar {
        justify-content: space-around;
        width: 100%;
        font-size: 4vh;
        margin: 3vh 0;
    }

    .restrict-toolbar>hr {
        margin: 0 3vh;
        border: none;
        border-left: solid 2px var(--line-color);
    }

    #restrict-container {
        flex-direction: column;
        height: 100%;

        * {
            font-size: 3vh;
        }
    }

    .content-box {
        height: fit-content;
        width: 90vw;
    }

    .side-bar {
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        margin-bottom: 2vh;
    }

    .side-bar>h1 {
        font-size: 4vh;
    }

    #restrict-container>hr {
        display: none;
    }

    #publicacoes-container {
        height: 100%;
        margin: 3vh 0;
        overflow-y: visible;
    }

    .restrict-content-wrapper {
        flex-direction: column;
        margin: 3vh 0;
    }

    .restrict-media {
        height: 40vw;
        width: 40vw;
        align-self: center;
        margin-bottom: 3vh;
    }

    .restrict-content-data {
        gap: 2vh;
        word-wrap: break-word;
    }

    #videos-container {
        height: 100%;
        margin: 3vh 0;
        overflow-y: visible;
    }

}