:root {
  --primary-color: #0C6397;
  --secondary-color: #7BDCB5;
  --terciary-color: #2FC178;
  --public-info-color: rgba(16, 141, 98, 0.5);
  --private-info-color: rgba(24, 16, 141, 0.5);
  /* --secondary-color: #91a9b8; */
  --line-color: #8D8D8D;
  --toolbar-color: #F5F5F5;
  --text-primary: #959595;
  --text-secondary: #8D8D8D;
  --text-terciary: #6B6B6B;
  --input-background: #E4E4E4;
  --table-row-background: #DCDCDC;
}

/* ----- Restrict Container ----- */
#restrict-container {
  display: flex;
  width: 100%;
  height: 85%;
}

#restrict-container > hr {
  margin-top: 7vw;
  height: 40%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 6vw;
}

.side-bar > h1 {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 2vw;
}

.category-select h2 {
  color: var(--text-secondary);
  font-size: 1.5vw;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
.category-select h2:hover {
  transform: scale(1.1);
}
.category-select .selected-category {
  color: var(--text-terciary);
  pointer-events: none;
  opacity: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content-container h1 {
  color: var(--text-terciary);
  font-weight: bold;
}

.restrict-toolbar {
  display: flex;
  width: 40%;
  font-size: 1vw;
}

.restrict-toolbar h1 {
  color: var(--text-secondary);
  opacity: 0.3;
  cursor: pointer;
  transition: 0.3s;
}

.restrict-toolbar h1:hover {
  transform: scale(1.1);
}

.restrict-toolbar > hr {
  margin: 0.5vw auto;
}

.active-restrict-tool {
  color: var(--text-terciary) !important;
  opacity: 1 !important;
  pointer-events: none;
}

#publicacoes-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80%;
  overflow-y: auto;
  margin-right: 1.5vw;
}

#publicacoes-container > hr {
  width: 80%;
  margin: 1vw auto;
}

#publicacoes-container > hr:last-of-type {
  display: none;
}

.restrict-content-wrapper {
  display: flex;
}

#videos-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80%;
  overflow-y: auto;
  margin-right: 1.5vw;
}
#videos-container a {
  align-self: center;
  width: fit-content;
}
#videos-container a img {
  width: 20vw;
}

#videos-container > hr {
  width: 80%;
  margin: 1vw auto;
}

.video-content-wrapper {
  display: flex;
}

.video-content-texts {
  display: flex;
  flex-direction: column;
}
.video-content-texts * {
  text-decoration: none;
}

.view-video {
  transition: 0.3s;
}

.view-video:hover {
  transform: scale(1.05);
}

.content-box {
  margin: 0;
  height: 15vw;
  max-width: 100%;
  overflow-y: auto;
}

.restrict-content-data {
  display: flex;
  flex-direction: column;
}

.restrict-content p:not(.restrict-content-author) {
  font-size: 0.9vw;
}

.restrict-content-author {
  color: var(--primary-color);
  font-size: 0.7vw;
  font-weight: bold;
  margin-top: 0;
}

.restrict-content h1 {
  margin-left: 0.5vw;
  font-size: 1.5vw;
}
.restrict-content h1 span {
  opacity: 0.5;
  margin: 0;
}

.restrict-media {
  object-fit: contain;
  width: 20vw;
  cursor: pointer;
  transition: 0.3s;
}

.restrict-media:hover {
  transform: scale(1.05);
}

.content-title {
  cursor: pointer;
  transition: 0.3s;
}

.content-title:hover {
  transform: scale(1.05);
}

.learn-more-button {
  color: var(--primary-color) !important;
  align-self: flex-end;
  margin-right: 4vw;
  cursor: pointer;
  transition: 0.3s;
}

.learn-more-button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .restrict-toolbar {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    font-size: 4vw;
    margin: 6vw 0;
  }
  .restrict-toolbar > hr {
    margin: 0 6vw;
    border: none;
    border-left: solid 2px var(--line-color);
  }
  #restrict-container {
    flex-direction: column;
    height: 100%;
    width: 80vw;
  }
  #restrict-container h1 {
    font-size: 5vw;
    margin-left: 0;
  }
  #restrict-container h2 {
    font-size: 5vw;
  }
  #restrict-container p {
    font-size: 4vw;
  }
  .content-box {
    height: fit-content;
    width: 90vw;
  }
  .side-bar {
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    margin-bottom: 4vw;
  }
  .side-bar > h1 {
    display: none;
  }
  #restrict-container > hr {
    display: none;
  }
  #publicacoes-container {
    align-items: center;
    height: 100%;
    width: 80vw;
    margin: 6vw 0;
    overflow-y: visible;
  }
  .restrict-content-wrapper {
    flex-direction: column;
    margin: 0;
  }
  .restrict-media {
    width: 70vw;
    object-fit: contain;
    align-self: center;
    margin-bottom: 6vw;
  }
  .restrict-content-data {
    gap: 4vw;
    word-wrap: break-word;
    width: 80vw;
  }
  #videos-container {
    height: 100%;
    margin: 6vw 0;
    overflow-y: visible;
  }
  #videos-container a {
    margin-top: 4vw;
  }
  #videos-container a img {
    width: 80vw;
  }
  #videos-container hr {
    margin-top: 12vw;
    margin-bottom: 12vw;
  }
  .video-content-wrapper {
    flex-direction: column;
  }
  .learn-more-button {
    margin-top: 4vw;
  }
  #publicacoes-container > hr {
    margin: 12vw 0 12vw;
  }
}

/*# sourceMappingURL=restrict.css.map */
