@import 'colors';

@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #F5F1F1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D1D1D1;
    border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #E4E4E4 inset !important;
}

* {
    // margin: 0.25vh 0;
    box-sizing: border-box;
    font-family: Montserrats;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4E4E4;
}

.titles {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 140%;
    justify-content: space-between;
    width: 100%;

    a {
        color: #8D8D8D;
        font-family: Montserrats;
        font-weight: 600;
        opacity: 0.5;
        text-decoration: none;
        align-items: center;
        transition: 0.3s;
    }

    a:hover {
        opacity: 1;
    }

    h1 {
        align-items: center;
        color: #6B6B6B;
        font-weight: 600;
    }

    hr {
        border: transparent;
        border-left: 2px solid #707070;
        height: 4vh;
        width: 0;
        opacity: 0.5;
        margin-right: 11vw;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 70%;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 7.5vh;
    padding: 4vh 3vw 2vh;
    outline: #0C6397 solid 0.4vw;
}

.person-type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    max-height: 100%;
}

h1 {
    font-family: Montserrats;
    font-size: 100%;
    font-weight: 500;
}

p {
    color: #8D8D8D;
}

.pessoa {
    margin: 1.5vh 0 0 0;
}

.especialidades {
    margin: 1.5vh 0 0 0;
}

.welcome-text {
    font-size: 85%;
    opacity: 0.75;
}

label {
    color: #8D8D8D;
    opacity: 1;
}

.data-slot {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-bottom: 1vh;

    >label {
        font-weight: 500;
        margin-bottom: 1vh;
    }
}

.data-column {
    display: flex;
    flex-direction: column;

    >label {
        font-weight: 500;
        margin-bottom: 1vh;
    }
}

.t-quarters {
    width: 74%;
}

.half {
    margin-top: 1.5vh;
    width: 49%;
}

.quarter {
    width: 24%;
}

.data-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    color: #8D8D8D;
    background-color: rgba($background-color, 0.4);
    border: none;
    border-radius: 2vw;
    padding: 1.5vh 1.5vw;
}

input[type="radio"] {
    margin: 1vw 0;
    padding: 0;
    width: 10%;
}

#juridica {
    margin-left: 1.15vw;
}

select {
    color: #8D8D8D;
    background-color: rgba($background-color, 0.4);
    border: none;
    border-radius: 2vw;
    padding: 1.5vh 1.5vw;
}

textarea {
    color: #8D8D8D;
    background-color: rgba($background-color, 0.4);
    border: none;
    border-radius: 2vw;
    padding: 1.5vh 1.5vw;
    resize: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darken($background-color, 30);
    /* Firefox */
}

#pais {
    pointer-events: none;
}

.submit-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    color: white;
    font-weight: 600;
    background-color: #0C6397;
    border: none;
    border-radius: 2vw;
    margin-top: 3.5vh;
    padding: 1.5vh 1.5vw;
    width: 30vw;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: darken(#0C6397, 10);
}