/* @font-face {
    font-family: Arciform Sans;
    src: url("/static/fonts/Arciform.ttf") ;
  }
   */

:root {
    --primary-color: #707070;
    --secondary-color: #094e93;
    --primary-color-dark: #515151;
}
  
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
  
body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

.top-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px;
    border-bottom: 1px solid;
}

.container {
    display: flex;
    flex-direction: column;

}

.body-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.map-container {
    display: flex;
    flex-direction: column;
}

#svg-map path { fill: var(--primary-color); } 
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill: var(--secondary-color) !important } 
#svg-map .circle { fill: var(--primary-color-dark) }
#svg-map a:hover .circle { fill: var(--secondary-color) !important; cursor:pointer } 

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.search-container * {
    margin: 5px;
}

.container form {
    display: flex;
    flex-direction: column;

}

input {
    border: 1px solid;
}