@font-face {
    font-family: Montserrats;
    src: url("/static/fonts/Montserrat-Regular.otf") ;
}
  
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    margin: 1.5vw;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(203, 203, 203);
    border-radius: 10px;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
    display: none;
  }

:root {
    --primary-color: #707070;
    --primary-color-dark: #515151;
    --secondary-color: #0071BB;
    --terciary-color: #7ADCB4;
    --status-1-color: #7BDCB5;
    --background-color: rgba(228,228,228,1);
    --map-outline: #D8D8D8;
    --map-hover: #9F183B;
    --map-tooltip-background: #E12454;
    --dividing-line: rgb(141, 141, 141, 0.5);
    --triangle-size: 15px
}
  
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrats;
}

button {
    padding: 1px 6px;
}

abbr {
    color: red;
    cursor: help;
    text-decoration: none;
}
  
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
}

.top-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.body-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* MAP CONTAINERS */

.map-container {
    display: flex;
    flex-direction: column;
}

.map-container svg {
    margin-top: 12.5%;
    transform: scale(1.3);

}

.map-text {display: none;}
.circle {display: none;}
#svg-map path { fill: white; stroke: var(--map-outline); stroke-width: 2px; transition: 0.3s;} 
#svg-map text { fill:var(--secondary-color); font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill: var(--map-hover) !important; } 
#svg-map .circle { fill: var(--map-outline) }
#svg-map a:hover .circle { fill: var(--map-hover) !important; cursor:pointer } 

#map-tooltip
{
    display: none;
    position: absolute;
    z-index: 5;
    width: 20vw;
    height: 12vw;
    background-color: var(--map-tooltip-background);
    border-radius: 1.25vw;
}

#map-tooltip::before {
    content: '';
    position: absolute;
    top: calc(var(--triangle-size) * -2);;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: var(--triangle-size) solid transparent;
    border-bottom-color: var(--map-tooltip-background);
    pointer-events: none;
}

/* MAP SEARCH */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 30%;
}

.search-container * {
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.search-container form {
    display: flex;
    background-color: var(--secondary-color);
    transition: 0.5s;
    border-radius: 2vw;
    width: 100%;
    height: 6.925vh;
    margin-bottom: 10px;
}

.search-container form input {
    border-radius: 2vw;
    margin: 0.36vw;
    width: 70%;
    height: 80%;
    border: none;
    justify-self: center;
    outline: none;
}

.search-container form > * {
    font-size: 2.2vh;
}

.search-container form:hover {
    background-color: var(--terciary-color);

}

.search-button {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: white;
    text-align: center;
    width: 30%;
    height: 100%;
    cursor: pointer;
    border-radius: 2vw;
}

#reset-button {
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: var(--secondary-color);
    border-radius: 2vw;;
    border: none;
    color: white;
    font-size: 2vh;
    width: 40%;
    height: 2vw;
    transition: 0.5s;
    cursor: pointer;
}

#reset-button:hover {
    background-color: var(--terciary-color);
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 55vh;
    background-color: white;
    border-radius: 1.25vw;
    filter: drop-shadow(0 3px 20px rgba(0, 0, 0, 0.15));
    margin-top: 20px;
    align-items: center;
    font-size: 2.5vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    color: var(--primary-color);
    text-align: center;
    width: 97%;
    height: 100%;
    font-size: 2vh;
    padding: 0 2.864585vw;
}

.map-status-single {
    margin-left: 0;
}

.map-status hr {
    width: 70%;
    margin: -3vh;
    align-self: center;
    border: 1px solid var(--dividing-line);
}

.map-status-svg {
    width: 5vw;
    margin-left: 0;
}


.map-status-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 5%;
}

.map-status-text, .map-status-text p {
    align-items: center;
    white-space: nowrap;
}

.status-number {
    font-weight: bold;
    font-size: 2.2vh;
}

.status-1 {
    fill: var(--status-1-color);
    color: var(--status-1-color);
}
.status-2 {
    fill: var(--map-tooltip-background);
    color: var(--map-tooltip-background);
}
.status-3 {
    fill: var(--secondary-color);
    color: var(--secondary-color);
}

.status-icon {
    fill: white;
}

#search-result {
    display: none;
    visibility: hidden;
    justify-content: center;
    width: 100%;
    margin-top: 3vh;
}

#search-title {
    color: var(--status-1-color);
    font-weight: bold;
}

#searched-value {
    color: var(--primary-color-dark);
    font-weight: bold;
}

.member-container-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0;
}

.member-container-wrapper hr {
    width: 80%;
    align-self: center;
    border: 1px solid var(--dividing-line);
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.member-container {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    color: var(--primary-color-dark);
    max-width: 100%;
    width: 98%;
    align-items: center;
    padding: 2vh 2vw 2vh 0;
    cursor: pointer;
}

.member-container:hover {
    background-color: var(--terciary-color);
}

.member-container hr {
    width: 70%;
    /* margin-right: 10%; */
    align-self: center;
}

.doctor-icon {
    width: fit-content;
    margin-left: auto;
    margin-right: -1vh;
    height: 10vh;
}

.member-data-container {
    display: flex;
    flex-direction: column;
    color: var(--primary-color-dark);
    margin-left: auto;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.7vh;
    flex-shrink: 0;
    width: 70%;
}


.member-data-container p {
    margin: 2px 0 6px;
    text-align: start;
}

.member-name {
    font-weight: bold;
}

#member-tooltip {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--status-1-color);
    width: 30vw;
    height: 55vh;
    border-radius: 1.25vw;
    margin: 0;
    padding: 0.3vw;
    z-index: 5;
}

.tooltip-data-container {
    display: flex;
    border-radius: 1vw;
    width: 100%;
    height: 80%;
    background-color: white;
    margin: 0;
}

/* END OF MAP SEARCH RESULT */

.container form {
    display: flex;
    flex-direction: column;

}

input {
    border: 1px solid;
}

#signup-form {
    text-align: right;
}

.required * {
    margin-left: 0;
    margin-right: 0;
}

.blog-post {
    border: 1px solid;
}

.video-container {
    display: flex;
}

.video {
    border: 1px solid;

}

#video {
    object-fit: fill;
    position: relative;
    display: block;
    visibility: hidden;
}

#list-container {
    border: 1px solid;
    height: fit-content;
}

.list-items {
    cursor: pointer;
    text-decoration: underline;
}