/* @font-face {
    font-family: Arciform Sans;
    src: url("/static/fonts/Arciform.ttf") ;
  }
   */

:root {
    --primary-color: #ffffff;
    --secondary-color: #094e93;
    --secondary-color-dark: #074583;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
  
body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;

}

.container form {
    display: flex;
    flex-direction: column;

}