<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adm.css">
    <title>Sbop - ADM</title>
</head>
<body>
    <div class="main-container">
        <div class="top-container">
            <div class="img-container">
                <img src="/static/image/adm_icon.svg" alt="Foto">
                <div class="camera-icon-container">
                    <img src="/static/image/camera.svg" alt="Camera">
                </div>
            </div>
            <div class="search-container">
                <img src="/static/image/lupa.svg" alt="Lupa">
                <form>
                    <input type="text" placeholder="Procurar membros">
                </form>
            </div>
            <div class="postagens-container">
                <p>Postagens</p>
                <img src="/static/image/postagens.svg" alt="Postagens">
            </div>
        </div>
        <div class="result-container">
            <div class="list-wrapper">
                <h1 id="searching-title">Pesquisando</h1>
                <h1 id="search-title">Resultados para: <span id="searched-text">Todos</span></h1>
                <div class="list-container">

                </div>
            </div>
            <div class="profile-container">
                <div class="profile-data-field">
                    
                </div>
                <div class="profile-buttons-container">
                    <button>Cancelar</button>
                    <button>Salvar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/adm.js"></script>
</footer>
</html>