<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adm_posts.css">
    <title>Sbop - ADM - Posts</title>
</head>

<body>
    <div class="main-container">
        <div class="top-container">
            <div class="img-container">
                <img src="/static/image/adm_icon.svg" alt="Foto">
                <div class="camera-icon-container">
                    <img src="/static/image/camera.svg" alt="Camera">
                </div>
            </div>
            <div class="search-container">
                <img src="/static/image/lupa.svg" alt="Lupa">
                <form>
                    <input type="text" placeholder="Procurar postagens">
                </form>
            </div>
            <div class="adm-container">
                <p>Administração</p>
                <img src="/static/image/adm.svg" alt="Administração">
            </div>
        </div>
        <div class="result-container">
            <div class="list-wrapper">
                <div class="list-container">

                    <!-- Início do código que vai no javascript -->
                    <div class="member-container" id="member-container-${member.id}">
                        <img src="/static/image/icon.svg" alt="Post">
                        <div class="member-info">
                            <p>Nome: <span title="${member.name}" class="member-name">${member.name}</span></p>
                            <div>
                                <p>Autor: <span title="" class=""></span></p>
                                <hr>
                                <p>Data: <span title="" class=""></span></p>
                                <hr>
                                <p>Categoria: <span title="" class=""></span></p>
                            </div>
                        </div>
                        <div class="buttons-container">
                            <button>Deletar</button>
                            <button>Editar</button>
                        </div>
                    </div>
                    <!-- Fim do código que vai no javascript -->

                </div>
            </div>
        </div>
        <div class="bottom-container">
            <a href="/adm_new_post/" class="new-post-button">
                <p>Nova Postagem</p>
                <img src="/static/image/Icon feather-plus-circle.svg" alt="+">
            </a>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/adm_posts.js"></script>
</footer>

</html>