<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adm_posts.css">
    <title>Sbop - ADM - Postagens</title>
</head>

<body>
    <div class="main-container">
        <div class="top-container">
            <div class="img-container">
                <img src="/static/image/adm_icon.svg" alt="Foto">
            </div>
            <div class="search-container">
                <img src="/static/image/lupa.svg" alt="Lupa">
                <form>
                    <input type="text" placeholder="Procurar postagens">
                </form>
            </div>
        </div>
        <div class="result-container">
            <div class="list-wrapper">
                <div class="list-container">

                    <!-- javascript -->

                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-container-left-buttons">
                <div class="bottom-button">
                    <div id="sair-button">
                        <p>Sair</p>
                    </div>
                    <img src="/static/image/Grupo 34.svg" alt="">
                </div>
                <div class="bottom-button">
                    <div id="meu-perfil-button">
                        <p>Meu Perfil</p>
                    </div>
                    <img src="/static/image/Icon meu-perfil.svg" alt="">
                </div>
            </div>
            <div class="bottom-container-right-buttons">
                <div class="bottom-button">
                    <div id="ir-para-adm-button">
                        <p class="center-text">Ir para</p>
                        <p>Administração</p>
                    </div>
                    <img src="/static/image/Grupo Adm.svg" alt="">
                </div>
                <div class="bottom-button">
                    <div id="nova-postagem-button">
                        <p class="center-text">Nova</p>
                        <p>Postagem</p>
                    </div>
                    <img src="/static/image/Icon feather-plus-circle.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/adm_posts.js"></script>
</footer>

</html>