<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Conteúdo</title>
</head>
<body>
    <h2 id="titulo">titulo: </h2>
    <h2 id="resumo">resumo: </h2>
    <h2 id="conteudo">conteudo: </h2>
    <h2 id="autor">autor: </h2>
    <h2 id="data">data: </h2>
    <h2 id="categoria">categoria: </h2>
    <h2 id="assinatura">assinatura: </h2>
</body>
<footer>
    <script src="/static/javascript/conteudo.js"></script>
</footer>
</html>