<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/conteudo.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Conteúdo</title>
</head>

<body>
    <div class="main-container">
        <h1 id="titulo"></h1>
        <p id="resumo"></p>
        <p id="conteudo"></p>
        <h2 id="autor">Postagem feita por: </h2>
        <h2 id="data"> Data: </h2>
        <h2 id="categoria">Categoria: </h2>
        <h2 id="assinatura">Nível de acesso a este conteúdo: </h2>
    </div>
</body>
<footer>
    <script src="/static/javascript/conteudo.js"></script>
</footer>

</html>