<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Sbop - Home Page</title>
</head>
<body>
    <h1>Home</h1>
    <div class="container">
        <form method="post">
            <input type="text" name="user" placeholder="usuario" required>
            <input type="password" name="password" placeholder="senha" required>
            <button type="submit" name="login">Entrar</button>
        </form>
        <p>{{error}}</p>
        <button onclick="window.location.href='/cadastrar/'">Cadastre-se</button>
        <button onclick="window.location.href='/mapa/'">Mapa</button>
        <button onclick="window.location.href='/blog_post/'">Blog Post</button>
    </div>
</body>
</html>