<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Sbop - Home Page</title>
</head>
<body>
    <div class="top-container">
        <button onclick="window.location.href='/cadastrar/'">Cadastre-se</button>
        <button onclick="window.location.href='/mapa/'">Mapa</button>
        <button onclick="window.location.href='/blog_post/'">Blog Post</button>
    </div>
    <div class="body-container">
        <img src="/static/image/logo.png" width="2000px" height="2000px" alt="logo">
        <div class="container">
            <div class="titles">
                <h1>Login</h1>
                <hr>
                <a href="/cadastro/"><h1>Cadastro</h1></a>
            </div>
            <p>Bem vindo! Por favor preencha os campos de nome de usuário e senhas para acessar sua conta.</p>
            <form method="post">
                <label for="username-input">Nome de Usuário ou email</label>
                <input id="username-input" type="text" name="user" placeholder="usuario" required>
                <label for="password-input">Senha</label>
                <input id="password-input" type="password" name="password" placeholder="senha" required>
                <button type="submit" name="login">Entrar</button>
            </form>
            <p>{{error}}</p>
            <a href="">Esqueci minha senha</a>
        </div>
    </div>
</body>
</html>