<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Sbop - Home Page</title>
</head>

<body>
    <!-- <div class="top-container">
        <button onclick="window.location.href='/mapa/'">Mapa</button>
        <button onclick="window.location.href='/blog_post/'">Blog Post</button>
    </div> -->
    <div class="popup">
        <h1>Recuperar senha</h1>
        <p>Enviaremos um link para o e-mail cadastrado no usuário inserido abaixo. A senha poderá ser resetada neste
            link.</p>
        <form id="recover-form">
            <label for="recover-input">Usuário</label>
            <input type="text" id="recover-input" required>
            <button id="recover-submit" type="submit">Enviar</button>
        </form>
    </div>
    <div class="body-container">
        <img src="/static/image/logo.png" width="2000px" height="2000px" alt="logo">
        <div class="container">
            <div class="titles">
                <h1>Login</h1>
                <hr>
                <a href="/cadastro/">
                    <h1>Cadastro</h1>
                </a>
            </div>
            <p>Bem vindo! Por favor preencha os campos de nome de usuário e senhas para acessar sua conta.</p>
            <form method="post">
                <label for="username-input">Usuário</label>
                <input id="username-input" type="text" name="user" placeholder="Usuário, e-mail ou cpf" required>
                <label for="password-input">Senha</label>
                <input id="password-input" type="password" name="password" placeholder="Senha" required>
                <button type="submit" name="login">Entrar</button>
            </form>
            <p>{{error}}</p>
            <p class="recover-password">Esqueci minha senha</p>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/home.js"></script>
</footer>

</html>