<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/safety.css">
    <link rel="stylesheet" href="/static/css/plans.css">
    <link rel="stylesheet" href="/static/css/restrict.css">
    <link rel="stylesheet" href="/static/css/requests.css">
    <link rel="stylesheet" href="/static/css/temporary.css">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <title>Sbop - Perfil</title>
</head>
<body onload="brython()">
    <!-- TOP TOOLBAR -->
    <div class="top-container">
        <button style="padding: 5px; width: 10vw" onclick="window.location.href='/logout/'">Sair</button>
    </div>
    <div id="loading-screen">
        <h1>CARREGANDO</h1>
    </div>
    <div class="body-container">
        <div class="body-toolbar">
            <div class="toolbar" id="toolbar-profile">
                <h1>Dados Cadastrais</h1>
                <p>Informações para o site</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-safety">
                <h1>Segurança</h1>
                <p>Alteração de senha e e-mail</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-plans">
                <h1>Planos</h1>
                <p>Anuidades e pedidos do site</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-restrict">
                <h1>Acesso Restrito</h1>
                <p>Conteúdos exclusivos para membros</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-requests">
                <h1>Solicitações</h1>
                <p>Artigos JPOS e 2ª via de certificados</p>
            </div>
        </div>
        <!-- Floating Popup -->
        <div id="floating-popup">
            <h1>TESTE TESTE</h1>
            <p></p>
            <button>OK</button>
        </div>
        <!-- TEMPORARY CONTAINER -->
        <div id="temporary-container">
            <div class="temporary-stages">
                <div>
                    <div class="circle-number">
                        <h1>1</h1>
                    </div>
                    <h1>Cadastro</h1>
                    <p>Complete seu perfil para desbloquear as funcionalidades do sistema.</p>
                    <button id="stage-1-button">Prosseguir</button>
                    </div>
                    <hr>
                    <div>
                        <div class="circle-number">
                            <h1>2</h1>
                        </div>
                        <h1>Plano</h1>
                        <p>Selecione o plano desejado.</p>
                        <img src="/static/image/exclamacao.svg" alt="">
                    </div>
                    <hr>
                    <div>
                        <div class="circle-number">
                            <h1>3</h1>
                        </div>
                        <h1>Tudo pronto</h1>
                        <p>Clique no botão abaixo para finalizar.</p>
                        <img src="/static/image/exclamacao.svg" alt="">
                    </div>
                </div>
            <div class="stage-1-container stages-container">
                <h1>Atualize seu perfil</h1>
                <form>
                    <div>
                        <label for="member-input-name">Nome Completo</label>
                        <input type="text" id="member-input-name">
                        <label for="member-input-cpf">CPF</label>
                        <input type="text" id="member-input-cpf">
                        <label for="member-input-telefone">Telefone</label>
                        <input type="text" id="member-input-telefone">
                        <label for="member-input-email">E-mail</label>
                        <input type="text" id="member-input-email">
                        <label for="member-input-crm">CRM</label>
                        <input type="text" id="member-input-crm">
                        <label for="member-input-especialidades">Especialidades</label>
                        <input type="text" id="member-input-especialidades">
                        <label for="member-input-curriculum">Curriculum</label>
                        <input type="text" id="member-input-curriculum">
                    </div>
                    <div>
                        <label for="member-input-cep">CEP</label>
                        <input type="text" id="member-input-cep">
                        <label for="member-input-endereço">Endereço</label>
                        <input type="text" id="member-input-endereço">
                        <label for="member-input-numero">Número</label>
                        <input type="text" id="member-input-numero">
                        <label for="member-input-complemento">Complemento</label>
                        <input type="text" id="member-input-complemento">
                        <label for="member-input-bairro">Bairro</label>
                        <input type="text" id="member-input-bairro">
                        <label for="member-input-cidade">Cidade</label>
                        <input type="text" id="member-input-cidade">
                        <label for="member-input-estado">Estado</label>
                        <input type="text" id="member-input-estado">
                    </div>
                </form>
                <button id="submit-stage-1-button">Enviar</button>
            </div>
        </div>
        <!-- PROFILE CONTAINER -->
        <div id="profile-container" class="main-container">
            <div class="info-container-wrapper">
                <img src="/static/image/doctor_icon.svg" alt="Foto">
                <div id="camera-icon-container" class="camera-icon-container">
                    <img id="camera-icon" src="/static/image/camera.svg" alt="camera_icon">
                </div>
                <div class="info-container">
                    <div>
                        <h1>Nome (Público)</h1>
                        <p id="data-name">name-value</p>

                        <h1>CRM</h1>
                        <p id="data-crm">crm-value</p>

                        <h1>Contato</h1>
                        <p id="data-phone">phone-value</p>

                        <h1>Endereço</h1>
                        <p id="data-address">address-value</p>
                    </div>
                    <div>
                        <h1>Nome de Usuário (Privado)</h1>
                        <p id="data-username">username-value</p>
                        
                        <h1>Especialidade</h1>
                        <p id="data-specialization">specialization-value</p>
                        
                        <h1>E-mail</h1>
                        <p id="data-email">email-value</p>
                    </div>
                </div>
                <img src="/static/image/logo_blue.png" alt="Logo">
            </div>
            <hr>
            <div class="curriculum-container">
                <h1>Curriculum</h1>
                <p id="data-curriculum">blabla</p>
            </div>
        </div>
        <!-- SAFETY CONTAINER -->
        <div id="safety-container" class="main-container">
            <form action="javascript:void(0);">
                <h1>Redefinir Senha</h1>
                <p>Por favor, preencha os campos para a senha atual, a nova senha e em seguida confirme para redefini-la.</p>
                <label for="input-current-password">Senha atual</label>
                <input type="password" id="input-current-password" required>

                <label for="input-new-password">Nova senha</label>
                <input type="password" id="input-new-password" required>

                <label for="input-new-password-confirmation">Confirmar nova senha</label>
                <input type="password" id="input-new-password-confirmation" required>

                <button type="submit" id="change-password-button" name="change-password">Redefinir Senha</button>
            </form>
            <form action="javascript:void(0);">
                <h1>Redefinir e-mail</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <label for="input-current-email">E-mail atual</label>
                <input type="email" id="input-current-email" placeholder="email_atual@sbop.com.br" required>

                <label for="input-new-email">Novo e-mail</label>
                <input type="email" id="input-new-email" placeholder="novo_email@sbop.com.br" required>

                <label for="input-new-email-confirmation">Confirmar novo e-mail</label>
                <input type="email" id="input-new-email-confirmation" placeholder="novo_email@sbop.com.br" required>

                <button type="submit" id="change-email-button" name="change email">Redefinir E-mail</button>
            </form>
        </div>
        <!-- PLANS CONTAINER -->
        <div id="plans-container" class="main-container">
            <h1>Mude seu plano de afiliação</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div id="titular" class="plans">
                <div class="plan-title">
                    <h1>Membro Titular</h1>
                </div>
                <hr>
                <p>
                    Divulgação da localidade de atendimento no site com mini-curriculum (dados de responsabilidade do membro), Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP.
                    <span>BRL 360.00 / ano</span>
                </p>
            </div>
            <div id="associado" class="plans">
                <div class="plan-title">
                    <h1>Membro Associado</h1>
                </div>
                <hr>
                <p>
                    Divulgação da localidade de atendimento no site com mini-curriculum (dados de responsabilidade do membro), Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP. 
                    <span>BRL 360.00 / ano</span>
                </p>
            </div>
            <div id="aspirante" class="plans">
                <div class="plan-title">
                    <h1>Membro Aspirante</h1>
                </div>
                <hr>
                <p>
                    Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP. 
                    <span>BRL 200.00 / ano</span>
                </p>
            </div>
            <button class="deactivated-button">Continuar</button>
        </div>
        <!-- RESTRICT CONTAINER -->
        <div id="restrict-container" class="main-container">
            <div class="side-bar">
                <h1>Categorias</h1>
            </div>
            <hr>
            <div class="content-container">
                <div class="restrict-toolbar">
                    <h1 class="active-restrict-tool" name="publicacoes-tool">Publicações</h1>
                    <hr>
                    <h1 name="videos-tool">Videos</h1>
                </div>
                <div class="restrict-content" id="publicacoes-container">
                </div>
                <div class="restrict-content" id="videos-container">
                </div>
            </div>
        </div>
        <!-- REQUESTS CONTAINER -->
        <div id="requests-container" class="main-container">
            <div class="visualization-container">
                <button class="requests-toggle-button" id="new-request-button">Incluir Solicitação</button>
                <h1>Histórico de Solicitações</h1>
                <p>Para visualizar os detalhes de cada solicitação, clique no seu número.</p>
                <div class="requests-history">
                    <table id="requests-history">
                        <tr>
                            <thead class="table-header">
                                <th>Solicitação</th>
                                <th>Tipo</th>
                                <th>Situação</th>
                                <th>Data</th>
                                <th>Ação</th>
                            </thead>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="new-request-container">
                <div class="new-request-data">
                    <h1>Preencha o formulário abaixo:</h1>
                    <p>Para visualizar os detalhes de cada solicitação, clique no seu número.</p>
                    <select name="solicitacao" id="solicitacao">
                        <option disabled selected value="">Selecione o tipo de solicitação</option>
                    </select>
                    <div class="new-request-description new-request-toggles">
                        <h1>Descrição Completa:</h1>
                        <p id="solicitacao-desc"></p>
                    </div>
                </div>
                <div class="new-request-buttons">
                    <button class="requests-toggle-button" id="visualization-button">Voltar</button>
                    <button class="new-request-toggles" id="submit-request-button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/python" src="/static/brython/profile.py"></script>
</footer>
</html>