<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/security.css">
    <link rel="stylesheet" href="/static/css/plans.css">
    <link rel="stylesheet" href="/static/css/restrict.css">
    <link rel="stylesheet" href="/static/css/requests.css">
    <link rel="stylesheet" href="/static/css/temporary.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <title>Sbop - Perfil</title>
</head>

<body onload="brython({cache:true})">
    <!-- TOP TOOLBAR -->
    <!-- <div class="top-container">
        <button style="padding: 5px; width: 10vw" onclick="window.location.href='/logout/'">Sair</button>
    </div> -->
    <div id="loading-screen">
    </div>
    <div class="body-container">
        <button id="menu-button">
            <img src="/static/image/menu_icon_150667.png" alt="">
        </button>
        <div class="body-toolbar">
            <div class="toolbar" id="toolbar-profile">
                <h1>Dados Cadastrais</h1>
                <p>Informações para o site</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-security">
                <h1>Segurança</h1>
                <p>Alteração de senha e e-mail</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-plans">
                <h1>Planos</h1>
                <p>Anuidades e pedidos do site</p>
                <img src="/static/image/alert.svg" alt="">
            </div>
            <hr>
            <div class="toolbar" id="toolbar-restrict">
                <h1>Conteúdos</h1>
                <p>Acesse publicações e vídeos exclusivos</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-requests">
                <h1>Solicitações</h1>
                <p>2ª via de certificados</p>
            </div>
        </div>
        <!-- Floating Popup -->
        <div id="floating-popup" class="popup">
            <h1>TESTE TESTE</h1>
            <p></p>
            <button>OK</button>
        </div>
        <div id="js-floating-popup" class="popup">
            <h1>TESTE TESTE</h1>
            <div></div>
            <button>OK</button>
        </div>
        <!-- TEMPORARY CONTAINER -->
        <div id="temporary-container">
            <iframe id="temporary-iframe" src="" height="90%" frameborder="0"></iframe>
            <!-- <div class="temporary-stages">
                <div class="temporary-stage-1">
                    <div class="circle-number">
                        <h1>1</h1>
                    </div>
                    <h1>Cadastro</h1>
                    <p>Complete seu perfil para desbloquear as funcionalidades do sistema.</p>
                    <button id="stage-1-button">Prosseguir</button>
                </div>
                <hr>
                <div class="temporary-stage-2">
                    <div class="circle-number">
                        <h1>2</h1>
                    </div>
                    <h1>Plano</h1>
                    <p>Selecione o plano desejado.</p>
                    <img src="/static/image/incomplete_icon.svg" alt="">
                </div>
                <hr>
                <div class="temporary-stage-3">
                    <div class="circle-number">
                        <h1>3</h1>
                    </div>
                    <h1>Tudo pronto</h1>
                    <p>Clique para finalizar.</p>
                    <img src="/static/image/incomplete_icon.svg" alt="">
                </div>
            </div>
            <div class="stage-1-container stages-container">
                <h1>Atualize seu perfil</h1>
                <form action="javascript:void(0);">
                    <div>
                        <label for="member-input-name">Nome Completo</label>
                        <input type="text" id="member-input-name" required>

                        <label for="member-input-cpf">CPF</label>
                        <input type="text" id="member-input-cpf" required>

                        <label for="member-input-email">E-mail</label>
                        <input type="text" id="member-input-email" required>

                        <div class="crm-uf-input">
                            <div class="input-column">
                                <label for="member-input-crm">CRM</label>
                                <input type="text" id="member-input-crm" required>
                            </div>
                            <div class="input-column">
                                <label for="member-input-crm-uf" title="Obrigatório">UF</label>
                                <select id="member-input-crm-uf" name="member-input-crm-uf" placeholder="UF" required>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR" selected>Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>

                        <p class="temp-skills-p">Especialidades</p>

                        <div class="temp-skills-select">
                            <div>
                                <label for="member-input-oftalmologia">Oftalmologia Pediátrica</label>
                                <input type="checkbox" value="Oftalmologia Pediátrica" class="checkbox"
                                    id="member-input-oftalmologia">
                            </div>
                            <div>
                                <label for="member-input-estrabismo">Estrabismo</label>
                                <input type="checkbox" value="Estrabismo" class="checkbox" id="member-input-estrabismo">
                            </div>
                            <div>
                                <label for="member-input-glaucoma">Glaucoma Pediátrico</label>
                                <input type="checkbox" value="Glaucoma Pediátrico" class="checkbox"
                                    id="member-input-glaucoma">
                            </div>
                            <div>
                                <label for="member-input-catarata">Catarata Pediátrica</label>
                                <input type="checkbox" value="Catarata Pediátrica" class="checkbox"
                                    id="member-input-catarata">
                            </div>
                            <div>
                                <label for="member-input-retina">Retina Pediátrica</label>
                                <input type="checkbox" value="Retina Pediátrica" class="checkbox"
                                    id="member-input-retina">
                            </div>
                            <div>
                                <label for="member-input-vias">Vias lacrimais</label>
                                <input type="checkbox" value="Vias lacrimais" class="checkbox" id="member-input-vias">
                            </div>
                            <div>
                                <label for="member-input-plastica">Plástica Ocular</label>
                                <input type="checkbox" value="Plástica Ocular" class="checkbox"
                                    id="member-input-plastica">
                            </div>
                        </div>

                        <label for="member-input-curriculum">Curriculum</label>
                        <input type="text" id="member-input-curriculum" required>
                    </div>
                    <div>
                        <label for="member-input-telefone">Telefone</label>
                        <input type="text" id="member-input-telefone" required>
                        <label for="member-input-cep">CEP</label>
                        <input type="text" id="member-input-cep" required>
                        <label for="member-input-endereco">Endereço</label>
                        <input type="text" id="member-input-endereco" required>
                        <label for="member-input-numero">Número</label>
                        <input type="text" id="member-input-numero" required>
                        <label for="member-input-complemento">Complemento</label>
                        <input type="text" id="member-input-complemento">
                        <label for="member-input-bairro">Bairro</label>
                        <input type="text" id="member-input-bairro" required>
                        <label for="member-input-cidade">Cidade</label>
                        <input type="text" id="member-input-cidade" required>
                        <label for="member-input-uf">Estado</label>
                        <input type="text" id="member-input-uf" required>
                    </div>
                </form>
                <button id="submit-stage-1-button">Enviar</button>
            </div>
            <div class="stage-2-container stages-container">
                <h1>fase 2</h1>
            </div> -->
        </div>
        <!-- PROFILE CONTAINER -->
        <div id="profile-container" class="main-container">
            <div class="info-container-wrapper">
                <div class="profile-picture-container">
                    <img id="profile-picture" src="/static/image/doctor_icon.svg" alt="Foto">
                    <form id="upload-pfp-form">
                        <label for="upload-pfp" class="upload-pfp-button">
                            <div id="camera-icon-container" class="camera-icon-container">
                                <img id="camera-icon" src="/static/image/camera.svg" alt="camera_icon">
                                <input type="file" id="upload-pfp" name="profile-picture">
                            </div>
                        </label>
                    </form>
                </div>
                <div class="info-container">
                    <div>
                        <h1>Nome <span class="public-info">Público</span></h1>
                        <p id="data-name">name-value</p>

                        <h1>CRM <span class="public-info">Público</span></h1>
                        <p id="data-crm">crm-value</p>

                        <h1>Contato <span class="public-info">Público</span></h1>
                        <p id="data-phone">phone-value</p>

                        <h1>Endereço <span class="public-info">Público</span></h1>
                        <p id="data-address">address-value</p>
                    </div>
                    <div>
                        <h1>Nome de Usuário <span class="private-info">Privado</span></h1>
                        <p id="data-username">username-value</p>

                        <h1>CPF <span class="private-info">Privado</span></h1>
                        <p id="data-cpf">cpf-value</p>

                        <h1>E-mail <span class="public-info">Público</span></h1>
                        <p id="data-email">email-value</p>

                        <h1 id="especilidades-data-field">Especialidades
                            <span class="public-info">Público</span>
                            <button id="edit-skills">Editar</button>
                        </h1>
                        <p id="data-specialization">specialization-value</p>
                    </div>
                </div>
                <div>
                    <div>
                        <button class="profile-buttons" onclick="window.location.href='/logout/'">Sair</button>
                        <button class="profile-buttons"
                            onclick="window.location.href='https://sbop.com.br/'">Site</button>
                    </div>
                    <button class="floating-button adm-button">
                        Ir para<br>Administração
                        <img src="/static/image/Grupo Adm.svg" alt="">
                    </button>
                </div>

            </div>
            <hr>
            <div class="curriculum-container">
                <h1>Curriculum
                    <span class="public-info">Público</span>
                    <button id="edit-curriculum">Editar</button>
                </h1>
                <p id="data-curriculum">Não preenchido</p>
                <textarea name="profile-input-curriculum" id="profile-input-curriculum" cols="160"
                    rows="1000"></textarea>
            </div>
        </div>
        <!-- SECURITY CONTAINER -->
        <div id="security-container" class="main-container">
            <form action="javascript:void(0);">
                <h1>Redefinir Senha</h1>
                <label for="input-current-password">Senha atual</label>
                <input type="password" id="input-current-password" required>

                <label for="input-new-password">Nova senha</label>
                <input type="password" id="input-new-password" required>

                <label for="input-new-password-confirmation">Confirmar nova senha</label>
                <input type="password" id="input-new-password-confirmation" required>

                <button type="submit" class="redefinition-button" id="change-password-button" name="change-password">Redefinir Senha</button>
            </form>
            <form action="javascript:void(0);">
                <h1>Redefinir e-mail</h1>
                <label for="input-current-email">E-mail atual</label>
                <input type="email" id="input-current-email" placeholder="email_atual@sbop.com.br" required>

                <label for="input-new-email">Novo e-mail</label>
                <input type="email" id="input-new-email" placeholder="novo_email@sbop.com.br" required>

                <label for="input-new-email-confirmation">Confirmar novo e-mail</label>
                <input type="email" id="input-new-email-confirmation" placeholder="novo_email@sbop.com.br" required>

                <button type="submit" class="redefinition-button" id="change-email-button" name="change email">Redefinir E-mail</button>
            </form>
        </div>
        <!-- PLANS CONTAINER -->
        <div id="plans-container" class="main-container">
            <iframe id="plans-iframe" height="90%" src="" frameborder="0"></iframe>
        </div>
        
        <!-- RESTRICT CONTAINER -->
        <div id="restrict-container" class="main-container">
            <div class="side-bar">
                <h1>Categorias:</h1>
                <div class="category-select">
                    <!-- profile_content.js > getCategoryList() -->
                </div>
            </div>
            <hr>
            <div class="content-container">
                <div class="restrict-toolbar">
                    <h1 class="content-publicacoes-button" name="publicacoes-tool">Publicações</h1>
                    <hr>
                    <h1 class="content-videos-button active-restrict-tool" name="videos-tool">Vídeos</h1>
                </div>
                <div class="restrict-content" id="publicacoes-container">
                    <!-- profile_content.js > getContentList() -->
                </div>
                <div class="restrict-content" id="videos-container" style="overflow-x: hidden;">
                    <div class="video-content-wrapper">
                        <a href="https://www.youtube.com/watch?v=Y2PYYNWG-ps" target="_blank" rel="noopener noreferrer">
                            <img class="view-video" src="/static/image/gambiarra/o melhor da aapos 2022.png" alt="">
                        </a>
                        <div class="video-content-texts">
                            <a href="https://www.youtube.com/watch?v=Y2PYYNWG-ps" target="_blank" rel="noopener noreferrer">
                                <h1 class="view-video">O Melhor da AAPOS 2022 - Bate-papo com quem esteve por lá<br><span>Webinar</span></h1>
                            </a>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="video-content-wrapper">
                        <a href="https://www.youtube.com/watch?v=X0XLmQS9mZo" target="_blank" rel="noopener noreferrer">
                            <img class="view-video" src="/static/image/gambiarra/processamento visual.png" alt="">
                        </a>
                        <div class="video-content-texts">
                            <a href="https://www.youtube.com/watch?v=X0XLmQS9mZo" target="_blank" rel="noopener noreferrer">
                                <h1 class="view-video">Processamento Visual - Oftalmopediatria Baseada em Evidências<br><span>Webinar</span></h1>
                            </a>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="video-content-wrapper">
                        <a href="https://www.youtube.com/watch?v=dA44m_az9oo" target="_blank" rel="noopener noreferrer">
                            <img class="view-video" src="/static/image/gambiarra/saber sobre miopia.png" alt="">
                        </a>
                        <div class="video-content-texts">
                            <a href="https://www.youtube.com/watch?v=dA44m_az9oo" target="_blank" rel="noopener noreferrer">
                                <h1 class="view-video">Miopia - Oftalmopediatria Baseada em Evidências<br><span>Webinar</span></h1>
                            </a>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="video-content-wrapper">
                        <a href="https://us02web.zoom.us/rec/play/u13wTKxfwW8YwfA9rISzZcYEG6kBZJ7_8MzrHC4oHzwlH3GUuWoRL8ZhwAH-QQay8t6UyU2Gk4hxt1Op.UjMRxjYSsgT-554q?continueMode=true&_x_zm_rtaid=QYEUWAqwQCqQ8sY6_1jnHw.1672147402265.08ea4b8813028722ab64088f86a67726&_x_zm_rhtaid=433"
                            target="_blank" rel="noopener noreferrer">
                            <img class="view-video" src="/static/image/gambiarra/saber sobre conjuntivite.png" alt="">
                        </a>
                        <div class="video-content-texts">
                            <a href="https://us02web.zoom.us/rec/play/u13wTKxfwW8YwfA9rISzZcYEG6kBZJ7_8MzrHC4oHzwlH3GUuWoRL8ZhwAH-QQay8t6UyU2Gk4hxt1Op.UjMRxjYSsgT-554q?continueMode=true&_x_zm_rtaid=QYEUWAqwQCqQ8sY6_1jnHw.1672147402265.08ea4b8813028722ab64088f86a67726&_x_zm_rhtaid=433"
                            target="_blank" rel="noopener noreferrer">
                                <h1 class="view-video">O que você precisa saber sobre Conjuntivite Alérgica em Crianças<br><span>Webinar</span></h1>
                            </a>
                            <p>Utilize a senha: meY#3YpS</p>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="video-content-wrapper">
                        <a href="https://us02web.zoom.us/rec/play/oNOHAFbDDmZ1Nt-f-rlyU5Yvs-l1TE4DeyBAHXQ5ixqnyZt7QINKykCHT1PLVm_b2MdXPB53zAF1KRFa.r2klxBXEEChNlRle?continueMode=true&_x_zm_rtaid=QYEUWAqwQCqQ8sY6_1jnHw.1672147402265.08ea4b8813028722ab64088f86a67726&_x_zm_rhtaid=433"
                            target="_blank" rel="noopener noreferrer">
                            <img class="view-video" src="/static/image/gambiarra/saber sobre retinopatia.png" alt="">
                        </a>
                        <div class="video-content-texts">
                            <a href="https://us02web.zoom.us/rec/play/oNOHAFbDDmZ1Nt-f-rlyU5Yvs-l1TE4DeyBAHXQ5ixqnyZt7QINKykCHT1PLVm_b2MdXPB53zAF1KRFa.r2klxBXEEChNlRle?continueMode=true&_x_zm_rtaid=QYEUWAqwQCqQ8sY6_1jnHw.1672147402265.08ea4b8813028722ab64088f86a67726&_x_zm_rhtaid=433"
                            target="_blank" rel="noopener noreferrer">
                                <h1 class="view-video">O que você precisa saber sobre Retinopatia da Prematuridade<br><span>Webinar</span></h1>
                            </a>
                            <p>Utilize a senha: p%9%tygk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REQUESTS CONTAINER -->
        <div id="requests-container" class="main-container">
            <button class="requests-toggle-button" id="new-request-button">Incluir Solicitação</button>
            <h1>Histórico de Solicitações:</h1>
            <p>Para visualizar os detalhes de cada solicitação, clique no seu número.</p>
            <div class="visualization-container">
                <div class="requests-history">
                    <table id="requests-history">
                        <tr>
                            <thead class="table-header">
                                <th>Solicitação</th>
                                <th>Tipo</th>
                                <th>Situação</th>
                                <th>Data</th>
                                <th>Ação</th>
                            </thead>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="new-request-container">
                <div class="new-request-data">
                    <h1>Preencha o formulário abaixo:</h1>
                    <p>Para visualizar os detalhes de cada solicitação, clique no seu número.</p>
                    <select name="solicitacao" id="solicitacao">
                        <option disabled selected value="">Selecione o tipo de solicitação</option>
                    </select>
                    <div class="new-request-description new-request-toggles">
                        <h1>Descrição Completa:</h1>
                        <p id="solicitacao-desc"></p>
                    </div>
                </div>
                <div class="new-request-buttons">
                    <button class="requests-toggle-button" id="visualization-button">Voltar</button>
                    <button class="new-request-toggles" id="submit-request-button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <button class="temp-logout-button" onclick="window.location.href = '/logout/'">Sair</button>
    <script>
        $('.popup').hide();
    </script>
</body>
<footer>
    <script type="text/python" src="/static/brython/profile.py"></script>
    <script src="/static/javascript/profile.js"></script>
    <script src="/static/javascript/profile_content.js"></script>
    <script src="/static/javascript/profile_documents.js"></script>
    <script src="/static/javascript/profile_picture.js"></script>
    <script src="/static/javascript/profile_temporary.js"></script>
</footer>

</html>