<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <title>Sbop - Perfil</title>
</head>
<body onload="brython()">
    <!-- TOP TOOLBAR -->
    <div class="top-container">
        <button onclick="window.location.href='/blog/'">Blog</button>
        <button onclick="window.location.href='/template_restrito/'">Vídeos</button>
        <button onclick="window.location.href='/logout/'">Sair</button>
    </div>
    <div id="loading-screen">
        <h1>CARREGANDO</h1>
    </div>
    <div class="body-container">
        <div class="body-toolbar">
            <div class="toolbar" id="toolbar-profile">
                <h1>Dados Cadastrais</h1>
                <p>Informações para o site</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-safety">
                <h1>Segurança</h1>
                <p>Alteração de senha e e-mail</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-plans">
                <h1>Planos</h1>
                <p>Anuidades e pedidos do site</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-restrict">
                <h1>Acesso Restrito</h1>
                <p>Conteúdos exclusivos para membros</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-requests">
                <h1>Solicitações</h1>
                <p>Artigos JPOS e 2ª via de certificados</p>
            </div>
        </div>
        <!-- PROFILE CONTAINER -->
        <div id="profile-container" class="main-container">
            <div class="info-container-wrapper">
                <img src="/static/image/doctor_icon.svg" alt="Foto">
                <div id="camera-icon-container" class="camera-icon-container">
                    <img id="camera-icon" src="/static/image/camera.svg" alt="camera_icon">
                </div>
                <div class="info-container">
                    <div>
                        <h1>Nome (Público)</h1>
                        <p id="data-name">name-value</p>

                        <h1>CRM</h1>
                        <p id="data-crm">crm-value</p>

                        <h1>Contato</h1>
                        <p id="data-phone">phone-value</p>

                        <h1>Endereço</h1>
                        <p id="data-address">address-value</p>
                    </div>
                    <div>
                        <h1>Nome de Usuário (Privado)</h1>
                        <p id="data-username">username-value</p>
                        
                        <h1>Especialidade</h1>
                        <p id="data-specialization">specialization-value</p>
                        
                        <h1>E-mail</h1>
                        <p id="data-email">email-value</p>
                    </div>
                </div>
                <img src="/static/image/logo_blue.png" alt="Logo">
            </div>
            <hr>
            <div class="curriculum-container">
                <h1>Curriculum</h1>
                <p id="data-curriculum">blabla</p>
            </div>
        </div>
        <!-- SAFETY CONTAINER -->
        <div id="safety-container" class="main-container">
            <form method="post">
                <h1>Redefinir Senha</h1>
                <p>Por favor, preencha os campos para a senha atual, a nova senha e em seguida confirme para redefini-la.</p>
                <label for="input-current-password">Senha atual</label>
                <input type="text" id="input-current-password" placeholder="Senha atual">

                <label for="input-new-password">Nova senha</label>
                <input type="password" id="input-new-password" placeholder="Nova senha">

                <label for="input-new-password-confirmation">Confirmar nova senha</label>
                <input type="password" id="input-new-password-confirmation" placeholder="Confirmar nova senha">

                <button type="submit">Redefinir Senha</button>
            </form>
            <form method="post">
                <h1>Redefinir e-mail</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <label for="input-current-email">E-mail atual</label>
                <input type="text" id="input-current-email" placeholder="E-mail atual">

                <label for="input-new-email">Novo e-mail</label>
                <input type="text" id="input-new-email" placeholder="Novo e-mail">

                <label for="input-new-email-confirmation">Confirmar novo e-mail</label>
                <input type="text" id="input-new-email-confirmation" placeholder="Confirmar novo e-mail">

                <button type="submit">Redefinir E-mail</button>
            </form>
        </div>
        <!-- PLANS CONTAINER -->
        <div id="plans-container" class="main-container">
            <h1>Mude seu plano de afiliação</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div id="titular" class="plans">
                <div class="plan-title">
                    <h1>Membro Titular</h1>
                </div>
                <hr>
                <p>
                    Divulgação da localidade de atendimento no site com mini-curriculum (dados de responsabilidade do membro), Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP.
                    <span>BRL 360.00 / ano</span>
                </p>
            </div>
            <div id="associado" class="plans">
                <div class="plan-title">
                    <h1>Membro Associado</h1>
                </div>
                <hr>
                <p>
                    Divulgação da localidade de atendimento no site com mini-curriculum (dados de responsabilidade do membro), Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP. 
                    <span>BRL 360.00 / ano</span>
                </p>
            </div>
            <div id="aspirante" class="plans">
                <div class="plan-title">
                    <h1>Membro Aspirante</h1>
                </div>
                <hr>
                <p>
                    Descontos, Acesso ao conteúdo exclusivo, Atualizações de conteúdos da SBOP. 
                    <span>BRL 200.00 / ano</span>
                </p>
            </div>
            <button>Continuar</button>
        </div>
        <div id="restrict-container" class="main-container">
            <h1>Só os VIP</h1>
        </div>
        <div id="requests-container" class="main-container">
            <h1>Sai um certificado na chapa</h1>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/python" src="/static/brython/profile.py"></script>
</footer>
</html>