<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <title>Sbop - Restrito</title>
</head>
<body onload="brython()">
    <div class="top-container">
        <button onclick="window.location.href='/perfil/'">Perfil</button>
        <button onclick="window.location.href='/logout/'">Sair</button>
    </div>

    <div class="container">
        <h2 id="user-title">Carregando seu conteúdo</h2>
        <div class="content-container">
            <p style="text-align: center;" id="user-content"></p>
        </div>
    </div>
</body>
<footer>
    <script type="text/python" src="/static/brython/template_restrito.py"></script>
</footer>
</html>